.d_none{
	display: none;
}

.grn_font{
	color: #58b346;
}

.location_link{
	display: block;
	margin-bottom: 1rem;
}

.datepickerWrap{
	margin-bottom: 40px;
}

/*PIXEL-PERFECT_ORDER*/
.checkout {

}
.checkout .checkout__item-header {
	margin-bottom: 10px;
}
.checkout .checkout__item-header > p {

}
.checkout .checkout__item-header .num {
	width: 32px;
    height: 32px;
	line-height: 30px;
}
.checkout .checkout__item-header .h2 {
	padding-left: 47px;
	padding-right: 0px;
}
.checkout .catalog-filter__label {
	margin-bottom: .4em;
}
.checkout .checkout__item-content {
	margin-bottom: 10px;
}
.checkout .checkout__item-content fieldset li {
	margin-bottom: 26px;
}
.checkout .btn_next_step {
	margin-top: 4px;
}
.checkout__item.-complete.-active .checkout__item-header {
	margin-bottom: 15px;
}
.cart__total {
    margin-bottom: 59px;
}
