.wrap_inner_figure.sections{
	padding: 2% 13px 20px;
}
div.product_item-wrap.sections:hover{
	min-height:250px
}
.product_item.sections,
.product_item.sections:hover{
	padding-bottom:0!important;
}
.product_item_img img{
	max-width: 204px!important;
}
div.product_item-wrap:hover .product_item,
.product_item:hover {
	/*width: 250px;*/
	width: 100% !important;
	padding: 10px 20px 0 0;
	height: 250px !important;
}

 .wrap_inner_figure {
    /*width: 204px;*/
    width: 100% !important;
	height: 240px !important;
	box-sizing: border-box;
 }

 .product_item_content {
    margin-bottom: 0;
    font: 16px/1.2 RobotoSlabBold,'Times New Roman',serif  !important;
    text-align: center !important;
    box-sizing: border-box !important;
}
.wb{
	word-wrap: break-word;
}