div.can_bay{
    color: #58b346;
    font-weight: bold;
}
div.not_can_bay {
    color: #d62c30;
    font-weight: bold;
}
/*PERFECT-PIXEL_CATALOG*/
body .catalog-filter {
    margin-bottom: 16px;
}
.catalog .catalog-section__descr {
    padding-top: 0;
    border-bottom: none;
    margin-bottom: 0.95em;
}
.catalog > h1 {
    margin: 0;
}
.catalog .catalog__sort__label {
    margin-bottom: 0.35em;
}
.catalog__sort input[type="checkbox"] + label,
.catalog__sort input[type="radio"] + label {
    line-height: 19px;
}
.catalog__sort input[type="checkbox"] + label:before,
.catalog__sort input[type="radio"] + label:before {
    width: 32px;
    height: 32px;
}
.catalog__sort #select {
    margin-bottom: 15px;
}
.catalog__sort fieldset li:not(#select) {
    margin-bottom: 12px;
}
.catalog__sort .catalog__items {
    margin-top: 1.1em;
}
