.warning__old-battery {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}
.warning__old-battery .warning {
    background-color: #f2f2f2;
    border: 2px solid #d62c30;
    border-radius: 5px;
    width: 280px;
    height: auto;
    box-sizing: border-box;
    padding: 18px;
    color: #000;
    position: relative;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.warning__old-battery .warning__close {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 18px;
    right: 18px;
    background: url('../../../../images/ico_del.svg') 50% no-repeat;
    background-size: 100%;
    cursor: pointer;
}
.warning__old-battery  .warning__header {
    position: relative;
    color: #d62c30;
    height: 30px;
    padding-left: 44px;
    font-weight: bold;
    line-height: 30px;
    margin-right: 25px;
}
.warning__old-battery  .warning__header::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 34px;
    height: 30px;
    background: url('../../../../images/icons-sprite.png') no-repeat -259px -93px;
}
