
.nav_main {
	margin     : 10px 0 20px;
	border-top : 1px solid #e1e7eb;
	text-align : left; }

.nav_main .menu__item {
	position      : relative;
	padding       : 0.75em 0 0.8em;
	border-bottom : 1px solid #e1e7eb;
	font-weight   : 700;
	font-size     : 16px; }

.nav_main .menu__item a {
	display         : block;
	position        : relative;
	color           : inherit;
	text-decoration : none; }

.nav_main .menu__item a.is-parent:after {
	position          : absolute;
	top               : 50%;
	right             : 0;
	margin-top        : -5px;
	content           : '';
	height            : 0;
	width             : 0;
	border            : 5px solid transparent;
	border-left-color : #58b346; }

.nav_main .menu__item.menu__item-opened .submenu {
	display : block; }

.nav_main .submenu {
	display     : none;
	padding-top : 10px; }

.nav_main .submenu .submenu__item {
	padding   : 0.35em 0 0.4em 1em;
	font-size : 14px;
	position  : relative; }

.nav_main .submenu .submenu__item:before {
	content               : '';
	display               : block;
	width                 : 4px;
	height                : 4px;
	-webkit-border-radius : 2px;
	border-radius         : 2px;
	background            : #58b346;
	position              : absolute;
	top                   : 0.9em;
	left                  : 0.35em; }

.menu-popup__body {
	padding : 1.65em 40px 1.65em 0; }

.menu-popup__title {
	margin-bottom : 1.45em; }

.popup-menu {
	padding    : 0;
	text-align : left;
	list-style : none;
	display: none;
}
.popup-menu.visible{
	display: block!important;
}
.popup-menu .popup-menu__item {
	border-top     : 1px solid #e1e7eb;
	position       : relative;
	padding        : 1.1em 0 0.5em;
	font-weight    : 700;
	font-size      : 16px;
	text-transform : uppercase;
	list-style: none;
}

.popup-menu .popup-menu__item .is-parent {
	display         : inline-block;
	position        : relative;
	padding-right   : 40px;
	text-decoration : none;
	color           : #333333; }


.popup-menu .popup-menu__item .popup-submenu {
	display        : none;
	text-transform : none;
	padding        : 0; }

.popup-menu .popup-menu__item .popup-submenu ul {
	list-style    : none;
	margin        : 0;
	margin-left   : -0.3em;
	margin-top    : 1em;
	margin-bottom : -0.5em;
	padding       : 0; }

.popup-menu .popup-menu__item .popup-submenu .popup-submenu__item {
	padding   : 0.35em 0 0.4em 1em;
	font-size : 14px;
	position  : relative;
	list-style: none;
}
.popup-menu .popup-menu__item .popup-submenu .popup-submenu__item::before {
	content               : '';
	display               : block;
	width                 : 4px;
	height                : 4px;
	-webkit-border-radius : 2px;
	border-radius         : 2px;
	background            : #58b346;
	position              : absolute;
	top                   : 0.9em;
	left                  : 0.35em; }

.popup-menu .popup-menu__item .popup-submenu .popup-submenu__item a {
	display         : block;
	position        : relative;
	text-decoration : none;
	font-family     : 'lato', sans-serif;
	font-size       : 14px;
	font-weight     : 400;
	font-style      : normal;
	color           : #333333;
}


.popup-menu .popup-menu__item.popup-submenu__item-opened .popup-submenu {
	display : block; }

.popup-menu .popup-menu__item.popup-submenu__item-opened .arrow.is-parent::after {
	position   : absolute;
	content    : ' ';
	top        : 10px;
	right      : 40px;
	width      : 18px;
	height     : 9px;
	margin-top : -4.5px;
	background : url("chevron__up.png") 0 0 no-repeat; }

.popup-menu .popup-menu__item .arrow.is-parent::after {
	position   : absolute;
	content    : ' ';
	top        : 10px;
	right      : 40px;
	width      : 18px;
	height     : 9px;
	margin-top : -4.5px;
	background : url("chevron__down.png") 0 0 no-repeat; }

.popup-menu .popup-menu__item .arrow.is-parent {
	float      : right;
	background : none;
	border     : none;
	height     : 2em;
	margin     : 0;
	width      : 35%;
}
.popup-menu .popup-menu__item a.is-parent {
	width :65%;
}