
/*{aquakosh (skype)*/
.warning {
    background: #fff url("/bitrix/templates/akk/images/warning_50.png") no-repeat scroll 15px 50%;
    border: 2px solid #ff0000;
    border-radius: 10px;
    box-shadow: 2px 2px 3px #AF4649; /* Это #B50D11 и S уменьшено до 60 */
    color: #D62C30;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 15px;
    padding: 15px 17px 15px 80px;
    text-align: justify;
}
/*}aquakosh*/