.tabs__menu .tabs__menu-1 {
    margin-bottom: 0;
}

ul.tabs-new {
    background: #fff;
    list-style: none;
    margin: 0;
    padding: 0 15px;
    position: relative;
}

ul.tabs-new li {
    background: none;
    color: #0f57b2;
    cursor: pointer;
    display: inline-block;
    font-family: RobotoBold, Roboto, Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    margin-right: 10px;
    padding: 0 15px;
    position: relative;
    text-transform: uppercase;
}

ul.tabs-new li a:after {
    border-bottom: 1px dashed;
    bottom: 10px;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    width: 100%;
}

ul.tabs-new li.current a:after {
    display: none;
}

ul.tabs-new li.current {
    background-color: #1ec247;
    border-radius: 5px;
    color: white;
    font-family: RobotoBold, Roboto, Arial, sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 18px;
    position: relative;
    text-transform: uppercase;
}

ul.tabs-new li.current:after {
    border-color: #1ec247 transparent transparent transparent;
    border-style: solid;
    border-width: 8px 5px 0 5px;
    bottom: -7px;
    content: "";
    display: block;
    height: 0;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    width: 0;
}

ul.tabs-new li a {
    color: #0f57b2;
    display: block;
    padding: 10px 0;
    position: relative;
}

ul.tabs-new li.current a {
    color: #fff;
}

.tab-contents {
    position: relative;
}

.tab-contents li {
    display: inline-block;
}

.tab-contents li a {
    color: #282826;
    font-family: RobotoBold, Roboto, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 30px;
    text-decoration: underline;
    white-space: nowrap;
}

.tab-contents li ul li {
    border-bottom: 1px dotted #fff;
    display: inline-block;
    width: 100%;
}

.tab-contents {
    background: #ededed;
    display: none;
    min-height: 220px;
    padding: 15px;
}

.tabs__menu div {
    /*height: 327px !important;*/
}

.tabs__menu div.tabs-container {
    box-shadow: none;
    padding: 0;
    /*height: 327px;*/
}

.tab-contents.current {
    display: inherit;
}

.tab-contents ul li ul {
    display: inline-block;
    padding-left: 10px;
    width: 100%;
}

.tab-contents li {
    border-bottom: 1px dotted #d2d2d2;
    clear: both;
    display: block;
    margin-right: 5px;
}

.tab-contents li a {
    padding-left: 10px;
    position: relative;
}

.tab-contents li a:hover {
    text-decoration: none;
}

.tab-contents li a:after {
    background: url(/bitrix/templates/akk/images/tab-arrow-green.png) no-repeat;
    content: "";
    height: 15px;
    left: 0;
    position: absolute;
    top: 5px;
    width: 15px;
}

.tab-contents li ul li a:after {
    background: url(/bitrix/templates/akk/images/tab-arrow-gray.png) no-repeat;
    content: "";
    height: 15px;
    left: 0;
    position: absolute;
    top: 5px;
    width: 15px;
}

.tab-contents ul {
    display: inline-block;
    width: 14%;
}

.tab-contents.tabs-moto ul {
    width: auto;
}

.tabs__menu-3 .tabs__sub__menu {
    display: inherit;
    font: 18px/1 RobotoSlabBold, 'Times New Roman', serif;
    padding: 0;
    width: auto;
}

.tabs__menu-3 .tabs__sub__menu__li {
    border: none;
    box-sizing: border-box;
    clear: none;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 25%;
}

.tabs__menu-3 .tabs__sub__menu .tabs__sub__menu-li__link {
    display: block;
    font-size: inherit;
    line-height: inherit;
    padding: 0;
}

.tabs__menu-3 li a:after {
    display: none;
}

.tabs__menu div.tabs__menu-3 {
    background: #fff;
    height: 307px;
    padding-top: 20px;
}

.tabs__menu-3 ul.tabs-new li {
    margin-right: 0;
    padding: 0 15px;
    text-align: center;
    width: 47%;
}

.tabs__menu-3 ul.tabs-new {
    text-align: center;
}

.tabs__menu .tabs__menu-3 div {
    background-color: transparent;
    border-radius: 0 5px 5px 5px;
    box-shadow: none;
    height: auto;
    margin-bottom: 0;
    overflow: hidden;
    padding-top: 0;
}

.tabs__menu .tabs__menu-1 div {
    background-color: transparent;
    border-radius: 0 5px 5px 5px;
    box-shadow: none;
    height: auto;
    margin-bottom: 0;
    overflow: hidden;
    padding-top: 0;
}

.owl-wrap img {
    max-height: 76px;
}

.tabs__menu .tabs__menu-1 #menu_fl_auto .owl-wrapper-outer {
    margin-left: 25px;
}

.tabs__menu-3 .owl-carousel.owl-theme {
    margin-top: 0;
}

.tabs__menu .owl-controls {
    height: 21px;
    left: 0;
    margin-top: -10px;
    position: absolute;
    top: 50%;
    width: 100%;
}

.tabs__menu .owl-buttons {
    height: 21px !important;
    width: 100%;
}

.tabs__menu .owl-buttons > div {
    cursor: pointer;
    height: 21px !important;
    margin: 0;
    overflow: visible !important;
    position: static;
    width: 11px;
}

.tabs__menu .owl-buttons .owl-prev {
    background-position: 0 -22px;
    float: left;
}

.tabs__menu .owl-buttons .owl-next {
    background-position: 0 -22px;
    float: right;
}

#tab8 {
    padding: 0 50px;
}

.tabs__menu-3 .owl-item {
    text-align: center;
}

.tabs__menu-3 .owl-item .brand-item {
    margin-top: 20px;
}

.tabs__menu-3 .owl-item a {
    color: #282826;
    display: block;
    font-family: RobotoRegular, Roboto, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-decoration: underline;
}

.tabs__menu-3 .owl-item a:hover {
    text-decoration: none;
}

.tabs__menu-3 .owl-item .accessory-item {
    margin-bottom: 20px;
}

.tabs__menu-3 .owl-item .accessory-item .item-image {
    display: table;
    margin-bottom: 15px;
    min-height: 78px;
    text-align: center;
    width: 100%;
}

.tabs__menu-3 .owl-item .accessory-item .item-image .image-valign {
    display: table-cell;
    vertical-align: middle;
}

.tabs__menu-3 .owl-item .brand-item .item-image {
    display: table;
    height: 128px;
    margin-bottom: 15px;
    text-align: center;
    width: 100%;
}

.tabs__menu-3 .owl-item .brand-item .item-image .image-valign {
    display: table-cell;
    vertical-align: middle;
}

.tabs__menu-3 .owl-item .brand-item .item-image img {
    max-height: 100%;
    width: auto;
}

.tabs__menu-3 .tabs__sub__menu .tabs__sub__menu__li a .tabs__sub__menu__li-img {
    margin-top: 25px;
}

#tab_accessories {
    display: block !important;
    padding: 0 50px;
}
