.dialogContent {
	display: none;
}
.dialogContent .more {
	padding: 10px 0;
	border-top: 1px solid #e1e7eb;
}
.dialogContent .more p {
	margin-bottom: 10px;
	font-weight: bold;
	text-align: center;
}

.ui-widget {
	font-family: lato, sans-serif;
}
.ui-widget.ui-widget-content {
	border: 0;
	border-radius: 0;
}

.ui-widget-overlay {
	background: #000;
	opacity: .4;
}

.ui-widget-header {
	border: 0!important;
	background: none!important;
	font-size: 24px;
}

.ui-dialog {
	padding: 0;
}

.ui-dialog .ui-dialog-title {
	overflow: visible!important;
	white-space: normal!important;
}

.ui-dialog .ui-dialog-titlebar {
	padding-left: 20px;
	padding-right: 20px;
}

.ui-dialog .ui-dialog-titlebar-close {
	border: 0 !important;
	width: 25px;
	height: 25px;
	padding: 0;
	margin-top: -14px;
	right: auto!important; 
	background: #fff url('/bitrix/templates/akk_mobile/images/ico_hide.svg') 50% no-repeat;
}

.ui-dialog .ui-dialog-titlebar-close .custom-popup__hide {
	margin: 0;
	float: none;
}

.ui-widget-content a {
	color: #58b346;
}
