 
/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 


/* FlexSlider Default Theme
*********************************/
.flexslider {margin: 0 0 0px; position: relative; height: 391px;}
.flex-viewport {}
.loading .flex-viewport {max-height: 300px;}
.flexslider .slides {zoom: 1;}

/* Direction Nav */
.flex-direction-nav a {width: 17px; height: 33px; margin: -17px 0 0; display: block;  position: absolute; top: 50%; cursor: pointer; text-indent: -9999px;}
.flex-direction-nav .flex-next {background: url(../images/slider_next.png) 0 0 no-repeat;right: -55px;}
.flex-direction-nav .flex-prev {background: url(../images/slider_prev.png) 0 0 no-repeat;left: -55px;}
.flex-direction-nav a:hover{
	background-position: 0 -33px;
}

.main_slider{
	border: 1px solid #cfcfcf;
	background: url(../images/slider_bg.jpg) 0 0 no-repeat;
}

	.slider_item{
		position: relative;
		min-height: 391px;
		line-height: 391px;
		vertical-align: middle;
	}
	.slider_item_inner{
		padding: 0 0 0 70px;
	}
	.slider_item img{
		vertical-align: middle;
	}

		.slide_banner{
			position: absolute;
			right: 0;
			top: 0;
			bottom: 0;
			width: 519px;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			padding: 20px 30px 20px 140px;
			background: url(../images/slider_banner_bg.png) 0 0 no-repeat;
		}

		.slide_banner_inner{
			display: inline-block;
			line-height: 30px;
			vertical-align: middle;
		}
		.slide_price{
			position: absolute;
			height: 123px;
			width: 123px;
			background: #0a1e37;
			color: #fff;
			line-height: 40px;
			border-radius: 123px;
			top: 50%;
			left: 50%;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			padding: 40px 0 30px;
			margin: -62px 0 0 -66px;
		}

	[data-transition]{
		opacity: 0;
		-webkit-transition: all 550ms ease;
		-moz-transition: all 550ms ease;
		-ms-transition: all 550ms ease;
		-o-transition: all 550ms ease;
		transition: all 550ms ease;
	}
	
	[data-transition="top"]{
		-moz-transform: translateY(-15px);
		-webkit-transform: translateY(-15px);
		-o-transform: translateY(-15px);
		-ms-transform: translateY(-15px);
		transform: translateY(-15px);
	}
	[data-transition="right"]{
		-moz-transform: translateX(40px);
		-webkit-transform: translateX(40px);
		-o-transform: translateX(40px);
		-ms-transform: translateX(40px);
		transform: translateX(40px);
	}

	.flex-active-slide [data-transition]{
		opacity: 1;
		-moz-transform: translateX(0px) translateY(0px);
		-webkit-transform: translateX(0px) translateY(0px);
		-o-transform: translateX(0px) translateY(0px);
		-ms-transform: translateX(0px) translateY(0px);
		transform: translateX(0px) translateY(0px);
	}

	.flex-active-slide img{
		-webkit-transition-delay: 900ms;
		-o-transition-delay: 900ms;
		transition-delay: 900ms;
	}
	.flex-active-slide .slide_banner{
		-webkit-transition-delay: 1100ms;
		-o-transition-delay: 1100ms;
		transition-delay: 1100ms;
	}
	.flex-active-slide .slide_price{
		-webkit-transition-delay: 1300ms;
		-o-transition-delay: 1300ms;
		transition-delay: 1300ms;
	}
