nav{
	position:relative;
	margin: 0px 0 73px;
	padding: 12px 0;
	z-index: 101;
}
.menu{
	position: relative;
}
.menu_item {float:left;}

.menu_link{
  display:inline-block;
  position:relative;
  font-size: 15px;
  line-height: 20px;
}

.menu_item{
  margin-right: 44px;
}

#magic-line{
	height: 2px;
	position: absolute;
	bottom: -4px;
	background: #62b751;
}

nav.active #magic-line{
	visibility: hidden;
}

.menu_link.hasUl{
	position: relative;
	padding-right: 22px;
}
	.menu_link.hasUl span{
		position: relative;
		z-index: 15;
	}
	.menu_link.hasUl:after{
		display: none;
		position: absolute;
		background: #fff;
		left: -25px;
		right: -14px;
		top: -17px;
		bottom: -15px;
		box-shadow: 0 0 30px rgba(0,0,0,0.10);
		z-index: 10;
		content: ""
	}


.menu-arrow{
	display: block;
	position: absolute;
	width: 9px;
	height: 6px;
	top: 50%;
	margin-top: -3px;
	right: 4px;
	z-index: 15;
	background: url(../images/menu_arrow.png) 0 0 no-repeat;
}

li.active .menu-arrow{
	-moz-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}

/*================================>> SUB Level <<========================================*/

.sub_menu{
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	background: #fff;
	box-shadow: 0 0 30px rgba(0,0,0,0.10);
	margin: 15px 0 0;
}
	.sub_menu:before{
		display: block;
		position: absolute;
		height: 20px;
		left: 0;
		right: 0;
		top: 0;
		z-index: 10;
		background: #fff;
		content: ""
	}
	.sub_menu_inner{
		overflow: hidden;
		padding: 32px 45px;
	}

		.sub_menu_col{
			float: left;
			width: 25%;
			padding-right: 25px;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
		}

			.sub_menu_title{
				margin-bottom: 14px;
			}

			.sub_menu_group{
				margin-bottom: 50px;
			}

			.sub_menu_col .sub_menu_group:last-child{
				margin-bottom: 0;
			}

.active>.menu_link.hasUl:after,
.active>.sub_menu{
	display: block;
}