.wrapper textarea.txt_field{
    height: 110px;
}

form .error {
    display: none;
}

form .success {
    border: 2px solid #58b346;
}
form .success-msg {
    color: #58b346;
    font-weight: bold;
}
