#colorbox,#cboxOverlay,#cboxWrapper{position:absolute;top:0;left:0;z-index:9999;overflow:hidden;}
#cboxWrapper{max-width:none;}
#cboxOverlay{position:fixed;width:100%;height:100%;}
#cboxMiddleLeft,#cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto;-webkit-overflow-scrolling:touch;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay,#cboxLoadingGraphic{position:absolute;top:0;left:0;width:100%;height:100%;}
#cboxPrevious,#cboxNext,#cboxClose,#cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left;margin:auto;border:0;display:block;max-width:none;-ms-interpolation-mode:bicubic;}
.cboxIframe{width:100%;height:100%;display:block;border:0;padding:0;margin:0;}
#colorbox,#cboxContent,#cboxLoadedContent{box-sizing:content-box;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;}
#cboxOverlay{background:#000;opacity:.9;filter:alpha(opacity=90);}
#colorbox{outline:0;}
#cboxContent{margin:0 20px;overflow:visible;}
.cboxIframe{background:#fff;}
#cboxError{padding:50px;border:1px solid #ccc;}
#cboxLoadedContent{padding:20px;background:#fff;}
#cboxLoadingOverlay{background:#fff;}
#cboxTitle{position:absolute;top:0;left:0;}
#cboxCurrent{position:absolute;top:0;right:0;}
#colorbox #cboxPrevious,#colorbox #cboxNext,#colorbox #cboxClose{position:absolute;top:50%;margin:-20px 0 0;padding:0;width:40px;height:40px;background:none;border:0;overflow:visible;font-size:32px;line-height:40px;text-align:center;color:#fff;border-radius:0;box-shadow:none;}
#colorbox #cboxPrevious{left:-40px;}
#colorbox #cboxNext{right:-40px;}
#colorbox #cboxClose{top:0;right:0;margin:0;}

#colorbox.popup-form-wrap, .popup-form-wrap #cboxWrapper, .popup-form-wrap #cboxContent, .popup-form-wrap #cboxLoadedContent { width: 100% !important; left: 0 !important; padding: 0; }
.popup-form-wrap #cboxContent { margin: 0; }
.popup-form-wrap #cboxLoadedContent,.popup-form-wrap #cboxLoadingOverlay { background: none; padding: 0 20px; width: auto !important; }
#colorbox.popup-form-wrap #cboxClose { display: none; }