@font-face {
    font-family: 'lato';
    src: url('../fonts/Lato-Light-webfont.eot?131020171419');
    src: url('../fonts/Lato-Light-webfont.eot?131020171419#iefix') format('embedded-opentype'),
         url('../fonts/Lato-Light-webfont.woff2?131020171419') format('woff2'),
         url('../fonts/Lato-Light-webfont.woff?131020171419') format('woff'),
         url('../fonts/Lato-Light-webfont.ttf?131020171419') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'lato';
    src: url('../fonts/Lato-Regular-webfont.eot?131020171419');
    src: url('../fonts/Lato-Regular-webfont.eot?131020171419#iefix') format('embedded-opentype'),
         url('../fonts/Lato-Regular-webfont.woff2?131020171419') format('woff2'),
         url('../fonts/Lato-Regular-webfont.woff?131020171419') format('woff'),
         url('../fonts/Lato-Regular-webfont.ttf?131020171419') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'lato';
    src: url('../fonts/Lato-Semibold-webfont.eot?131020171419');
    src: url('../fonts/Lato-Semibold-webfont.eot?131020171419#iefix') format('embedded-opentype'),
         url('../fonts/Lato-Semibold-webfont.woff2?131020171419') format('woff2'),
         url('../fonts/Lato-Semibold-webfont.woff?131020171419') format('woff'),
         url('../fonts/Lato-Semibold-webfont.ttf?131020171419') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'lato';
    src: url('../fonts/Lato-Bold-webfont.eot?131020171419');
    src: url('../fonts/Lato-Bold-webfont.eot?131020171419#iefix') format('embedded-opentype'),
         url('../fonts/Lato-Bold-webfont.woff2?131020171419') format('woff2'),
         url('../fonts/Lato-Bold-webfont.woff?131020171419') format('woff'),
         url('../fonts/Lato-Bold-webfont.ttf?131020171419') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'lato';
    src: url('../fonts/Lato-Heavy-webfont.eot?131020171419');
    src: url('../fonts/Lato-Heavy-webfont.eot?131020171419#iefix') format('embedded-opentype'),
         url('../fonts/Lato-Heavy-webfont.woff2?131020171419') format('woff2'),
         url('../fonts/Lato-Heavy-webfont.woff?131020171419') format('woff'),
         url('../fonts/Lato-Heavy-webfont.ttf?131020171419') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'lato';
    src: url('../fonts/Lato-Black-webfont.eot?131020171419');
    src: url('../fonts/Lato-Black-webfont.eot?131020171419#iefix') format('embedded-opentype'),
         url('../fonts/Lato-Black-webfont.woff2?131020171419') format('woff2'),
         url('../fonts/Lato-Black-webfont.woff?131020171419') format('woff'),
         url('../fonts/Lato-Black-webfont.ttf?131020171419') format('truetype');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'PTRoubleSans';
    src: url('../fonts/rubsn.eot');
    src: url('../fonts/rubsn.eot') format('embedded-opentype'),
         url('../fonts/rubsn.woff2') format('woff2'),
         url('../fonts/rubsn.woff') format('woff'),
         url('../fonts/rubsn.ttf') format('truetype'),
         url('../fonts/rubsn.svg#PTRoubleSans') format('svg');
}
