 

/* iPad in landscape */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 1024px) 
/*  and (orientation : landscape)  */{
		figcaption.product_item_description{
	min-height:155px; 
}
.container aside.grid_7{
}	
/* .container article.grid_29	{
	width:61% !important;
}  */
article .products{
	padding-top:0;
}
.container h1{display:none;}
.bx_pagination_bottom {
    width: 85%;
}


}

/* iPad in portrait */
@media only screen 
/* and (min-device-width : 768px)  */
and (max-device-width : 768px) 
/* and (orientation : portrate) */ {
	.container aside.grid_7{
		    width: 98% !important;
    float: none;
}
	.container article.grid_29	{
    width: 84% !important;
    /* float: none; */
    margin: 0 8%;
    clear: both;
}
.catalog_search_form{position:relative;}
.catalog_search_form:after{
	display:block;
	width:100%;
	height:1px;
	content:'';
	clear:both;
	float:none;
}
.form_row_btmline {
    border-bottom: 0;
}
.catalog_search_form .form_row {
	//margin:0 10%;
    width: 50%;
    float: left;
}
.catalog_search_form .form_row:first-of-type .form_row{
	margin: 0 0 0 30%;
    width: 70%;
}
.catalog_search_form .form_row:last-of-type .name_filter{
	
	    padding-right: 16%;
}
.catalog_search_form .form_row:last-of-type .form_row{
	margin: 0 0 0 19%;
    width: 70%;
}
#model-filter-form-container+.aside-block{display:none;}

.sidebar-block_filter{
	width:99.2%;
}
.name_filter {
    margin-left: 0;
    margin-right: 0;
    text-align: center;
}
.sidebar-block_filter .form_row_btmline{
    width: 90%;
    float: none;
    margin: 0 5%;
}

.sidebar-block_filter .form_row_btmline .bx_filter_parameters_box{
	width: 50%;
    float: left;
}
.sidebar-block_filter .form_row_btmline .bx_filter_parameters_box.form_row{
	margin-bottom:0 !important;
} 
.sidebar-block_filter .form_row_btmline .bx_filter_parameters_box.active{
	    padding-left: 10%;
    width: 40%;
}
.mb23{
    clear: both;
    padding: 20px 0 0;
    margin-left: 10%;
}

}
/* iPad in landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape){
	
}


/* iPhone 2G-4S in portrait & landscape */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 767px) {


}
/* iPhone 6 Plus in portrait & landscape */
@media only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px) 
and (orientation : portrait){
	.container article.grid_29 {
    width: 88% !important;
    /* float: none; */
    margin: 0 6%;
    clear: both;
}

.name_filter {
        font-size: 13px;
    text-align: left;
    padding: 5px 0;
}
.catalog_search_form .form_row:first-of-type .form_row{
	margin: 0;
    width: 100%;
}
.catalog_search_form .form_row:last-of-type .name_filter{
	
	    padding-right: 0;
}
.catalog_search_form .form_row:last-of-type .form_row{
	margin: 0;
    width: 100%;
}
.sidebar-block_filter .form_row_btmline {
    width: 98%;
    float: none;
    margin: 0 1%;
}

.sidebar-block_filter .form_row_btmline .bx_filter_parameters_box.active {
    padding-left: 4%;
    width: 46%;
}
.sidebar-block_filter .form_row_btmline .bx_filter_parameters_box.active.form_row{
	padding-left: 0;
    width: 50%;
}
.form_label2 {
    margin-bottom: 7px;
}
.checkbox_label {
    margin-bottom: 13px;
}
.mb23 {
    padding: 10px 0 0;
    margin-left: 0;
}
	

}
@media only screen 

and (max-device-width : 414px) {
	 .container article.grid_29 {
        width: 90% !important;
    margin: 0 5%;
    padding: 0 !important;
    clear: both;
}
.product_item {
    width: 49%;
    margin: 0 0 28px;
}
figure.product_item:nth-child(4n+1){
    margin-right: 2%;
}
}
@media only screen 
 and (min-device-width : 668px) 
and (max-device-width : 736px) 
/*  and (orientation : landscape) */{

/* #model-filter-form-container+.aside-block{display:block;} */
.container aside.grid_7 {
    width: 96% !important;
}

}
 /*iPhone 6 landscape*/
@media only screen 
 and (min-device-width : 569px) 
and (max-device-width : 667px) {
	.container aside.grid_7 {
       // width: 53.5% !important;

}
	.container article.grid_29 {
    width: 96% !important;
    margin: 0 2%;
}
}
/* iPhone 5 & 5S in portrait & landscape */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 413px) { 
/* 		.container aside.grid_7 {
    width: 32.5% !important;
	    margin: 0;
} */
.border15 {
    background: #fff;
    border-radius: 0;
    padding: 0;
    border: 0;
}
.bac_CCC{
	border-radius:0;
	padding:10px 0;
}
.name_filter {
        font-size: 13px;
    text-align: left;
    padding: 5px 0 5px 5px;
}
.catalog_search_form .form_row:first-of-type .form_row{
	margin: 0;
    width: 90%;
	margin-left:5px;
}
.catalog_search_form .form_row:last-of-type .name_filter{
	
	    padding-right: 0;
}
.catalog_search_form .form_row:last-of-type .form_row{
	margin: 0;
    width: 100%;
}
.catalog_search_form .form_row:first-of-type .form_row {
    margin: 0;
    width: 90%;
    margin-left: 10px;
}
.sidebar-block_filter .form_row_btmline {
    width: 98%;
    float: none;
    margin: 0 1%;
}

.sidebar-block_filter .form_row_btmline .bx_filter_parameters_box.active {
    padding-left: 4%;
    width: 43%;
}
.sidebar-block_filter .form_row_btmline .bx_filter_parameters_box.active.form_row {
    padding-left: 5px;
    width: 49%;
}
.form_label2 {
    margin-bottom: 7px;
}
.checkbox_label {
    margin-bottom: 13px;
}
.mb23 {
    padding: 10px 0 0;
    margin-left: 0;
}
.bac_CCC .jq-selectbox__select{
	width:90% !important;
}
	
	
	
	
	
	
	
	
	 .container article.grid_29 {
    width: 90% !important;
    margin: 0 5%;
    padding: 0 !important;
    clear: both;
}
.product_item {
    //width: 44.1%;
    margin: 0 0 28px;
}
figure.product_item:nth-child(4n+1){
    margin-right: 2%;
}
	
}
/*iPhone 4-5 portrait*/
@media only screen 
and (max-device-width : 320px){
	.catalog_search_form .form_row,
.sidebar-block_filter .form_row_btmline .bx_filter_parameters_box,
.sidebar-block_filter .form_row_btmline .bx_filter_parameters_box.active,
.sidebar-block_filter .form_row_btmline .bx_filter_parameters_box.active.form_row,
.catalog_search_form .form_row .form_row	{
    width: 73%;
    float: none;
    padding: 0;
    margin: 0 auto;
}
.catalog_search_form .form_row{
	width:100%;
}
/* .catalog_search_form .form_row:first-of-type .form_row {
    margin: 0;
    width: 100%;
} */
.name_filter,
.catalog_search_form .form_row:last-of-type .name_filter{
	    width: 73%;
    padding: 5px 27% 5px 5px;
}
.catalog_search_form .form_row:first-of-type .form_row {
    margin-bottom: 20px;
    width: 73%;
    margin: 0 auto 20px;
}
.catalog_search_form .form_row:last-of-type .form_row {
    margin: 0 auto;
    width: 73%;
}
.mb23 {
    margin: 0 auto;
    width: 73%;
}
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px)
and (orientation : landscape) {
	
}
/* iPhone 2G-4S in portrait & landscape */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {}




@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px)
and (orientation : portrate){

}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px)
and (orientation : landscape){
	
}
