@import "../css/reset.css";
@import "../css/superfish.css";
@import "../css/grid.css";
@import "../css/flexslider.css";
@import "../fonts/lato.css";
@import "../fonts/lato1.css";

@import "../fonts/rouble.css";
@import "../owl-carousel/owl.carousel.css";
@import "../css/jquery.formstyler.css";
@import "../css/jquery.formstyler.theme.css";
article,aside,audio,canvas,command,datalist,details,embed,figcaption,figure,footer,header,hgroup,keygen,meter,nav,output,progress,section,source,video{display:block}mark,rp,rt,ruby,summary,time{display:inline}
/* Global properties ======================================================== */
html {width:100%}

body {
  font-family: 'latoregular', sans-serif;
  font-size:14px;
  line-height:19px;
  color:#000;
  min-width:1200px;
  background:#fff;
  -webkit-text-size-adjust: none;
}

.wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex: 1 0 auto;
}

footer {
  flex: 0 0 auto;
}

/*----------------------> Links And buttons <------------------*/
a {
  color:#000;
  outline:none;
  text-decoration:none;
  cursor:pointer;
}
a:hover {
  color:#58b346;
  text-decoration:none;
}

.link1{
  text-decoration: underline;
}
.link1:hover{
  color: inherit;
}
.btn{
  display:block;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  padding: 9px 20px 7px;
  margin: 18px 0 0;
  font-size: 14px;
  line-height: 19px;
  color:#fff;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
}

.btn1,
.btn2,
.btn3{
  display:inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  padding: 8px 8px 3px;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 19px;
  color:#fff;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 3px;
}
.btn2{
  padding-left: 15px;
  padding-right: 15px;
}

.btn3{
  text-transform: none;
  padding: 10px 32px 7px;
  font-size: 14px;
}

.btn4{
  text-align: center;
  display: block;
  padding: 12px 20px 11px;
  border-radius: 5px;
  font-size: 18px;
  line-height: 1.23em;
  color: #fff;
}
.btn5{
  padding: 3px 20px;
  border-radius: 0;
  color: #fff;
  margin-left: 5px;
  box-shadow: none !important;
}

.big_btn{
  display:inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  padding: 19px 20px 15px;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 19px;
  color:#fff;
  border: none;
  outline: none;
  cursor: pointer;
  width: 100%;
  background-color: #4db239;
  color: #fff;
}

.grn_skin{
  background: #58b346;
  box-shadow: 0 2px 0 0 #1c8e4c;
}
.grn_skin:hover,
.big_btn:hover{
  color: #fff;
  background: #4fa13f;
}

.red_skin{
  background-color: #d62c30;
  box-shadow: 0 2px 0 0 #b50d11;
}
.red_skin:hover{
  color: #fff;
  background-color: #c0282c;
}

.blue_skin{
  background-color: #20a4e6;
  box-shadow: 0 2px 0 0 #0f7ab0;
}
.blue_skin:hover{
  color: #fff;
  background-color: #208dc4;
}

.gray_link{
  display: inline-block;
  color: #b5b5b5;
  border-bottom: 2px dotted #b5b5b5;
}
.gray_link:hover{
  border-color: #58b346;
}

.white{
  color: #fff;
}
.comprassion_link{
  display: inline-block;
  padding: 5px 0 5px 40px;
  text-decoration: underline;
  background: url(../images/comparison_icon.png) 0 0 no-repeat;
}


.buy_product:before{
  display: inline-block;
  width: 27px;
  height: 20px;
  margin: -3px 10px -5px 0;
  background: url(../images/cart_icon_btn.png) 0 0 no-repeat;
  content: ""
}

.buy_click_product:before{
  display: inline-block;
  width: 17px;
  height: 23px;
  margin: 0px 10px -7px 0;
  background: url(../images/cursor_icon_btn.png) 0 0 no-repeat;
  content: ""
}

/* ----------------- Modal Styles ---------*/
.arcticmodal-overlay,
.arcticmodal-container { position: fixed; left: 0; top: 0; right: 0; bottom: 0; z-index: 1000; }
.arcticmodal-container { overflow: auto; margin: 0; padding: 0; border: 0; border-collapse: collapse; }
*:first-child+html .arcticmodal-container { height: 100% }
.arcticmodal-container_i { height: 100%; margin: 0 auto; }
.arcticmodal-container_i2 { padding: 24px; margin: 0; border: 0; vertical-align: middle; }
.arcticmodal-error { padding: 20px; border-radius: 10px; background: #000; color: #fff; }
.arcticmodal-loading { width: 80px; height: 80px; border-radius: 10px; background: #000 url(loading.gif) no-repeat 50% 50%; }

.arcticmodal-close{
  position: absolute;
  right: 0px;
  top: 0;
  cursor: pointer;
  width: 20px;
  height: 20px;
  margin: -30px 0 0;
  background: url(../images/modal_close.png) 50% 50% no-repeat;
}

.sm_modal{
  background: #f6f6f6;
  width: 480px;
}
.sm_modal_inner{
  padding: 37px 60px 54px;
}

.modal_btns{
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  margin-top: 20px;
}

/* ========== > default dev styles < ============*/
img{max-width: 100%;}
.reg {text-transform:uppercase}
.f_left {float:left}
.f_right {float:right}
.al_left{text-align: left;}
.al_right {text-align:right}
.al_center {text-align:center}
.al_just{text-align:justify;}

.it{font-style:italic}
.let{letter-spacing:-1px}
.fs_normal{font-style: normal;}

.full_w{
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.val_mid{vertical-align: middle;}

.vert_aligner{
  display:inline-block;
  vertical-align:middle;
}
.vert_aligner:after{
  display:inline-block;
  vertical-align:middle;
  height:100%;
  width:0px;
  content: ""
}

.vert_horz_aligner{
  margin: auto;
  text-align: justify;
  font-size: 0;
  line-height: 0;
}
.vert_horz_aligner:after{
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  content: ""
}
.vert_horz_aligner>*{
  display:inline-block;
  vertical-align:middle;
  line-height: 1em;
  font-size: inherit;
}

.p_abs{position: absolute;}
.p_rel{position: relative;}
.p_fix{position: fixed;}
.clear {clear:both;width:100%;line-height:0;font-size:0;}
.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.wrapper {overflow:hidden}
.f_elem>*:first-child{margin-top: 0 !important;}
.f_elem1>*:first-child{margin-top: 0 !important;border: none !important;}

.bg_none{ background:none !important;}

.d_block{ display:block;}
.d_ib{ display:inline-block;}
.d_none{ display:none;}
.d_tc{ display:table-cell;}
.d_t{ display:table;}
.d_r{display:table-row;}

.lts{letter-spacing: -2px;}

.fs_12{
  font-size: 12px;
}
.fs_13{
  font-size: 13px;
}
.fs_18{
  font-size: 18px;
  line-height: 1.3em;
}
.fs_22{
  font-size: 22px;
  line-height: 1.3em;
}
.fs_24{
  font-size: 16px;
  line-height: 1.3em;
}

.fs_30{
  font-size: 30px;
  left: 1em;
}
.fs_36{
  font-size: 36px;
  line-height: 1.23em;
}
.fs_48{
  font-size: 48px;
  line-height: 1.23em;
}

p {margin-bottom:20px}
.mb2{ margin-bottom:2px;}
.mb3{ margin-bottom:3px;}
.mb4{ margin-bottom:4px;}
.mb5{ margin-bottom:5px;}
.mb-5{ margin-bottom:-5px;}
.mb6{ margin-bottom:6px;}
.mb7{ margin-bottom:7px;}
.mb8{ margin-bottom:8px;}
.mb9{ margin-bottom:9px;}
.mb10{ margin-bottom:10px;}
.mb11{ margin-bottom:11px;}
.mb12{ margin-bottom:12px;}
.mb13{ margin-bottom:13px;}
.mb14{ margin-bottom:14px;}
.mb15{ margin-bottom:15px;}
.mb16{ margin-bottom:16px;}
.mb17{ margin-bottom:17px;}
.mb18{ margin-bottom:18px;}
.mb19{ margin-bottom:19px;}
.mb20{ margin-bottom:20px;}
.mb21{ margin-bottom:21px;}
.mb22{ margin-bottom:22px;}
.mb23{ margin-bottom:23px;}
.mb24{ margin-bottom:24px;}
.mb25{ margin-bottom:25px;}
.mb26{ margin-bottom:26px;}
.mb27{ margin-bottom:27px;}
.mb28{ margin-bottom:28px;}
.mb29{ margin-bottom:29px;}
.mb30{ margin-bottom:30px;}
.mb31{ margin-bottom:31px;}
.mb32{ margin-bottom:32px;}
.mb33{ margin-bottom:33px;}
.mb34{ margin-bottom:34px;}
.mb35{ margin-bottom:35px;}
.mb36{ margin-bottom:36px;}
.mb37{ margin-bottom:37px;}
.mb38{ margin-bottom:38px;}
.mb39{ margin-bottom:39px;}
.mb40{ margin-bottom:40px;}
.mb41{ margin-bottom:41px;}
.mb42{ margin-bottom:42px;}
.mb43{ margin-bottom:43px;}
.mb44{ margin-bottom:44px;}
.mb45{ margin-bottom:45px;}
.mb46{ margin-bottom:46px;}
.mb47{ margin-bottom:47px;}
.mb48{ margin-bottom:48px;}
.mb49{ margin-bottom:49px;}
.mb50{ margin-bottom:50px;}
.mb51{ margin-bottom:51px;}
.mb52{ margin-bottom:52px;}
.mb53{ margin-bottom:53px;}
.mb54{ margin-bottom:54px;}
.mb55{ margin-bottom:55px;}
.mb62{ margin-bottom:62px;}
.mb75{ margin-bottom: 75px;}

.pl50{padding-left: 50px;}
.pr100{padding-right: 100px;}
.pr140{padding-right: 140px;}
.bxd{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

blockquote{
  padding: 0 50px 20px;
}
/*----------------------> Indents Zero <------------------*/

.m_b_zero{ margin-bottom:0 !important;}
.m_l_zero{ margin-left:0 !important;}
.p_b_zero{ padding-bottom:0 !important;}
.p_l_zero{ padding-left:0 !important;}

/*----------------------> Positions <------------------*/
.p_abs{position: absolute;}
.p_rel{position: relative;}
.p_fix{position: fixed;}
.clear {clear:both;width:100%;line-height:0;font-size:0;}
.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.wrapper {overflow:hidden}
.f_elem>*:first-child{margin-top: 0 !important;}
.f_elem1>*:first-child{margin-top: 0 !important;border: none !important;}

.bg_none{ background:none !important;}

/*----------------------> Displays <------------------*/

.d_block{ display:block;}
.d_ib{ display:inline-block;}
.d_none{ display:none;}
.d_tc{ display:table-cell;}
.d_t{ display:table;}


/*----------------------> Basic Colors <------------------*/

.grn_bg{
  background-color: #43b72c;
}
.grn_bg1{
  background-color: #58b346;
}

.dark_font{
  color: #595959;
}

.light_font{
  color: #fff;
}
.gray_font{
  color: #8f8f8f;
}

.gray_font2{
  color: #737373;
}

.grn_font{
  color: #58b346;
}

.red_font{
  color: #c6152f;
}
.black_font{
  color: #000;
}

/*----------------------> Sprites <------------------*/

[class^="sprite"]{
  background-image: url(../images/sprite.png);
  background-repeat: no-repeat;
  display: inline-block;
}

.sprite-cart_icon {
  width: 17px;
  height: 18px;
  background-position: -35px -35px;
}

.sprite-catalog_icon {
  width: 55px;
  height: 53px;
  position: absolute;
  right: 0;
  top: -10px;
  background-position: -20px -105px;
}

/* .sprite-clock_icon { */
  /* width: 18px; */
  /* height: 18px; */
  /* background-position: -35px -212px; */
  /* } */

  .sprite-power_icon{
    width: 11px;
    height: 17px;
    margin-right: 10px;
    background-position: -35px -300px;
  }

  .sprite-size_icon {
    width: 20px;
    height: 16px;
    margin-right: 8px;
    background-position: -35px -387px;
  }

  .sprite-user_icon {
    width: 11px;
    height: 18px;
    background-position: -35px -473px;
  }

  .sprite-white_cart_icon {
    width: 19px;
    height: 15px;
    margin-right: 5px;
    background-position: -35px -561px;
  }

  .sprite-white_phone_icon {
    width: 15px;
    height: 18px;
    background-position: -35px -646px;
  }

  /*======================> Info scroll box <======================*/

  .info_box{
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    background: #000;
    padding: 14px 0 12px;
  }
  .info_phone_num{
    border-right: 1px solid #fff;
    padding-right: 10px;
    margin-right: 10px;
  }
  .big_callback_btn{
    margin: -14px 0 -12px 20px;
    padding: 14px 14px 12px 16px;
    color: #fff;
    background: #58b346;
  }
  .big_callback_btn:hover{
    color: inherit;
    background-color: #4fa13f;
  }
  .big_callback_btn i{
    margin-right: 10px;
  }

  .info_link{
    display: inline-block;
    color: #fff;
    margin-left: 27px;
  }
  .info_link i, .info_link #i{
    display: inline-block;
    margin: -2px 8px 0 0;
  }

  [data-cart-value]{
    position: relative;
  }
  [data-cart-value]:after{
    position: absolute;
    left: 100%;
    top: 0;
    margin: -13px 0px 0 -5px;
    width: 18px;
    height: 18px;
    color: #fff;
    font-size: 10px;
    text-align: center;
    vertical-align: middle;
    line-height: 18px;
    background-color: #b31d36;
    border-radius: 18px;
    content: attr(data-cart-value);
  }
  /*======================> Header <======================*/

  header{
    padding: 70px 0 0;
  }
  .logotype {
    display: inline-block;
  }
  .logotype__img {
    vertical-align: middle;
  }
  .logotype__text {
    display: inline-block;
    font-size: 15px;
    margin-left: 10px;
    vertical-align: middle;
  }
  .logotype__text-title {
    display: block;
    font: 36px/36px "latobold";
    letter-spacing: 1px;
    padding-left: 1px;
    text-transform: uppercase;
  }

  .work_time{
    padding: 12px 0 0 18px;
    letter-spacing: 0.5px
  }
  .work_time_item:first-child{
    padding-right: 20px;
    margin-right: 18px;
    position: relative;
  }
  .work_time_item:first-child:after{
    display: block;
    width: 1px;
    position: absolute;
    right: 0;
    top: 4px;
    bottom: 6px;
    background: #7f7f7f;
    content: ""
  }

  header .search_form{
    margin-top: 15px;
  }

  .search_form{
    border: 1px solid #c4c4c4;
    border-radius: 3px;
    padding: 0 36px 0 0;
    position: relative;
  }
  .search_form_input{
    margin:0;
    font-size:14px;
    border:none;
    color:#b1b1b1;
    padding:8px 0 9px 13px;
    letter-spacing: 0.5px;
    outline:none;
    position:relative;
    font-family: 'latoregular', sans-serif;
    background:none;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .search_form_btn{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 36px;
    outline: none;
    border: none;
    /*background:;*/
    cursor: pointer;
    background: url(../images/search_icon.png) 50% 50% no-repeat;
  }


  .header_separator{
    height: 1px;
    border: none;
    width: 1080px;
    max-width: 100%;
    background: #e5e5e5;
    margin-top: 20px;
  }

  /*=====================> slider box ========================*/
  .slider_box{
    margin-bottom: 87px;
  }

  /*=====================> Content ========================*/
  #content {padding:25px 0px 60px; //min-height: 2500px;}
  .cont_pad{padding:0 0 0 0 !important;}
  .catalog_content{
    //margin-top: -37px;
  }
  .catalog_content .article_text_page a {
  color: #58b346;
  }
  .catalog_filter{
    position: relative;
  }
  .catalog_filter .sub_menu{
    z-index: 10;
    margin-top: 9px;
  }

  #show_categories_btn{position: relative;}
  #show_categories_btn.active i, #show_categories_btn.active .i {
    background-color: #fff;
    box-shadow: 0 0 30px rgba(0,0,0,0.10);
  }
  #show_categories_btn.active ~ .sub_menu{
    display: block;
  }

  .catalog_nav_wrap{
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 50px;
  }
  .catalog_search{
    width: 400px;
  }
  .catalog_nav_list{
    padding: 8px 0 0;
  }
  .catalog_nav_list_item{
    float: left;
    margin-right: 50px;
  }
  .catalog_nav_list_link{
    font-size: 14px;
    line-height: 19px;
    color: #b5b5b5;
    text-transform: uppercase;
    display: block;
    padding-bottom: 13px;
    border-bottom: 3px solid transparent;
  }
  .current .catalog_nav_list_link{
    color: #58b346;
    border-color:#58b346;
  }

  .youtube_wrap{
    position: relative;
  }
  .youtube_img{
    z-index: 1;
  }

  .youtube_play_box{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    line-height: 391px;
    background-color: rgba(0,0,0,0.78);
  }

  .form_row{
    margin-bottom: 9px;
  }
  .form_row1{
    margin-bottom: 15px;
  }
  .form_row2{
    margin-bottom: 25px;
  }


  .form_label,
  .form_label1,
  .form_label2,
  .form_label3{
    font-size: 12px;
    color: #ababab;
    display: block;
    margin-bottom: 4px;
  }
  .form_label1{
    margin-bottom: 8px;
  }
  .form_label2{
    margin-bottom: 15px;
  }
  .form_label3{
    font-size: 14px;
  }

  /*range slider*/

  .ui-slider-horizontal{
    background: #c2ced8;
    height: 8px;
    position: relative;
    border-radius: 10px;
    margin: 13px 0 13px;
  }

  .ui-slider-range{
    background: #58b346;
    position: absolute;
    top: 0;
    height: 100%;
  }
  .ui-slider-handle{
    width: 14px;
    height: 14px;
    background: #58b346;
    display: block;
    position: absolute;
    top: -3px;
    cursor: pointer;
    border-radius: 14px;
    box-shadow: -1px 0px 0 #2e994a;
  }

  /*=========== Datepicker ==========*/

/* Misc visuals
----------------------------------*/

/* Overlays */
.ui-widget-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.ui-datepicker {
  width: 17em;
  padding: 0;
  display: none;
}
.ui-datepicker .ui-datepicker-header {
  position: relative;
  padding: .2em 0;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
  position: absolute;
  top: 2px;
  width: 1.8em;
  height: 1.8em;
}
.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {
  top: 1px;
}
.ui-datepicker .ui-datepicker-prev {
  left: 2px;
}
.ui-datepicker .ui-datepicker-next {
  right: 20px;
}
/*.ui-datepicker .ui-datepicker-prev-hover {
  left: 1px;
}
.ui-datepicker .ui-datepicker-next-hover {
  right: 1px;
  }*/
  .ui-datepicker .ui-datepicker-prev span,
  .ui-datepicker .ui-datepicker-next span {
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -8px;
    top: 50%;
    margin-top: -8px;
  }
  .ui-datepicker .ui-datepicker-title {
    margin: 0 2.3em;
    line-height: 1.8em;
    text-align: center;
  }
  .ui-datepicker .ui-datepicker-title select {
    font-size: 1em;
    margin: 1px 0;
  }
  .ui-datepicker select.ui-datepicker-month,
  .ui-datepicker select.ui-datepicker-year {
    width: 45%;
  }
  .ui-datepicker table {
    width: 100%;
    font-size: .9em;
    border-collapse: collapse;
    margin: 0 0 .4em;
  }
  .ui-datepicker th {
    padding: .7em .3em;
    text-align: center;
    font-weight: bold;
    border: 0;
  }
  .ui-datepicker td {
    border: 0;
    padding: 1px;
  }
  .ui-datepicker td span,
  .ui-datepicker td a {
    display: block;
    padding: .2em;
    text-align: right;
    text-decoration: none;
  }
  .ui-datepicker .ui-datepicker-buttonpane {
    background-image: none;
    margin: .7em 0 0 0;
    padding: 0 .2em;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
  }
  .ui-datepicker .ui-datepicker-buttonpane button {
    float: right;
    margin: .5em .2em .4em;
    cursor: pointer;
    padding: .2em .6em .3em .6em;
    width: auto;
    overflow: visible;
  }
  .ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
    float: left;
  }

  /* with multiple calendars */
  .ui-datepicker.ui-datepicker-multi {
    width: auto;
  }
  .ui-datepicker-multi .ui-datepicker-group {
    float: left;
  }
  .ui-datepicker-multi .ui-datepicker-group table {
    width: 95%;
    margin: 0 auto .4em;
  }
  .ui-datepicker-multi-2 .ui-datepicker-group {
    width: 50%;
  }
  .ui-datepicker-multi-3 .ui-datepicker-group {
    width: 33.3%;
  }
  .ui-datepicker-multi-4 .ui-datepicker-group {
    width: 25%;
  }
  .ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,
  .ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
    border-left-width: 0;
  }
  .ui-datepicker-multi .ui-datepicker-buttonpane {
    clear: left;
  }
  .ui-datepicker-row-break {
    clear: both;
    width: 100%;
    font-size: 0;
  }

  /* RTL support */
  .ui-datepicker-rtl {
    direction: rtl;
  }
  .ui-datepicker-rtl .ui-datepicker-prev {
    right: 2px;
    left: auto;
  }
  .ui-datepicker-rtl .ui-datepicker-next {
    left: 2px;
    right: auto;
  }
  .ui-datepicker-rtl .ui-datepicker-prev:hover {
    right: 1px;
    left: auto;
  }
  .ui-datepicker-rtl .ui-datepicker-next:hover {
    left: 1px;
    right: auto;
  }
  .ui-datepicker-rtl .ui-datepicker-buttonpane {
    clear: right;
  }
  .ui-datepicker-rtl .ui-datepicker-buttonpane button {
    float: left;
  }
  .ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current,
  .ui-datepicker-rtl .ui-datepicker-group {
    float: right;
  }
  .ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header,
  .ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
    border-right-width: 0;
    border-left-width: 1px;
  }

  .ui-datepicker{
    border: 1px solid #62b751;
    background-color: #fff;
  }
  .ui-datepicker-calendar{
    border-top: 1px solid #62b751;
  }

  .ui-datepicker-calendar td{
    border-left: 1px solid #62b751;
    border-bottom: 1px solid #62b751;
  }
  .ui-datepicker-calendar th{
    border-bottom: 1px solid #62b751;
  }

  .ui-datepicker-calendar tr td:first-child,
  .ui-datepicker-calendar tr th:first-child{
    border-left: none;
  }

  /*.ui-datepicker-calendar .ui-state-highlight,*/
  .ui-datepicker-calendar a.ui-state-active,
  .ui-datepicker-calendar a:hover{
    display: block;
    background-color: #62b751;
    color: #fff;

  }

  .working__time {
   height: 24px;
   background-color: white;
   box-shadow: 3px 5.2px 29px rgba(0, 0, 0, 0.13);
   padding-top: 5px;
   padding-left: 10px;
   max-width: 1100px;
   margin: 0 auto;
   margin-bottom: 10px;
   vertical-align:middle;
   color: #0000ff;
   font-family:RobotoMedium;
   font-size: 14px;
   font-weight: 500;
   line-height: 20px;
 }
 .working__time img {
   display:inline-block;
   vertical-align:middle;
   margin-right:8px;
 }

 /* -------------- !! ------*/

 input[class^="amount_"]{
  width: 90px;
}
.amount_separator{
  margin: 0 4px;
}
.field_separator{
  margin: 0 0px;
}

.checkbox_label{
  display: block;
  margin-bottom: 8px;
}


.catalogue_btn{
  padding: 5px 0 0;
  margin: 0 0 0 10px;
}

.catalogue_btn2{
  padding: 5px 70px 0 0;
}
.catalogue_btn2 i, .catalogue_btn2 .i{
  margin: -3px 0 0 28px;
}

.filter_row{
  color: #fff;
  padding: 0 15px;
}

.filter_item, .filter_label {
  display: inline-block;
}

.filter_label{
  margin-right: 10px;
  float: left;
  padding: 5px 0;
}

.filter_item {
  padding: 5px 18px;
  float: left;
  background: url(../images/separator.png) right 50% no-repeat;
  position: relative;
}


.filter_item .dropdown {
  background: #fafafa;
  box-shadow: 0 0 8px 0 rgba(0,0,0,0.13), 0 8px 8px 0 rgba(0,0,0,0.12);
  -webkit-border-radius: 0 0 2px 2px;
  -moz-border-radius: 0 0 2px 2px;
  -ms-border-radius: 0 0 2px 2px;
  border-radius: 0 0 2px 2px;
  width: 102%;

  position: absolute;
  list-style: none;
  left: -2px;
  top: 0;
  z-index: 1000;

  padding-top: 29px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  display: none;

  overflow: hidden;
  max-height: 0px;
  -webkit-transition: max-height 0.4s linear;
  -moz-transition: max-height 0.4s linear;
  transition: max-height 0.4s linear;

  font: 15px/15px RobotoRegular;
  color:rgba(0,0,0,0.87);

}

.filter_item .dropdown.dropdown_large {
  overflow: visible;
  background: #fafafa;
}
.filter_item span {
  cursor: pointer;
}
.filter_item .dropdown.dropdown_large ul{
  width: 270px;
  background: #fafafa;
  box-shadow: 0 0 8px 0 rgba(0,0,0,0.13), 0 8px 8px 0 rgba(0,0,0,0.12);
  -webkit-border-radius: 0 0 2px 2px;
  -moz-border-radius: 0 0 2px 2px;
  -ms-border-radius: 0 0 2px 2px;
  border-radius: 0 0 2px 2px;
}

.filter_item.drop.active .filter_link {
  z-index: 2000;
  /*font: 15px/19px RobotoMedium;*/
  opacity: 1;
  color: #3db81c;
}
.filter_item.drop.active .filter_link:after {
  background: url(../images/link_arrow_green.png) right 50% no-repeat;
}
.filter_item.drop.active .dropdown {
  max-height: 400px;
  display: block;
}
.filter_item.active .dropdown li a,.filter_item.active .dropdown li span {
  height: 33px;
  display: block;
  padding: 0 18px;
  font: 15px/33px RobotoRegular;
  color:rgba(0,0,0,0.87);
}
.filter_item.active .dropdown li a:hover,.filter_item.active .dropdown li span:hover {
  background: #eee;
  color:rgba(0,0,0,0.87);
}
















.filter_item:last-child{
  background: none;
  margin-right: 0;
  padding-right: 0;
}

.filter_link{
  color: #fff;
  opacity: .7;
  padding-right: 15px;
  display: inline-block;
  position: relative;
}
.filter_link span{
  cursor: pointer;
}
.filter_link:after{
  display: block;
  width: 10px;
  height: 5px;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -3px;
  background: url(../images/link_arrow.png) right 50% no-repeat;
  content: ""
}

.filter_link.arrow_down:after{
  -moz-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

.filter_link.arrow_up:after{
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.filter_link:hover,
.filter_link.active{
  color: inherit;
  opacity: 1;
}

.filter_link.sale{
  background: none;
}

.filter_link.hits{
  padding: 0 0 0 15px;
  font-size: 14px;
  background: url(../images/hit_icon.png) 0 50% no-repeat;
}

.filter_link.hits:after{
  display: none;
}


/*=====================> Products ========================*/
.products{
  margin: 0 -5px;
  position: relative;
}
.product_item{
  border: 1px solid #fff;
  float: left;
  margin-bottom: 28px;
  padding: 13px;
  position: relative;
  width: 192px;

}

.product_item:hover {
  cursor: pointer;
}

.product_item_description .btn1{
  margin-top: 3px;
}
.product_item_similar_link{
  display: inline-block;
  position: absolute;
  bottom: 12px;
  right: 15px;
  line-height: 18px;
  font-size: 12px;
  padding: 2px 0 4px 20px;
  visibility: hidden;
  text-decoration: underline;
  background: #fff url(../images/similar_icon_sm.png) 1px 50% no-repeat;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.product_item:hover .product_item_similar_link{
  visibility: visible;
}

.product_label-box {
  position: absolute;
  top: 12px;
  left: 12px;
  z-index: 5;
}

.product_label {
  background: #fff url("../images/labels.png") no-repeat;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: block;
  float: left;
  height: 34px;
  margin-right: 12px;
  width: 34px;
}

.product_label--hit { background-position: -5px -5px; }
.product_label--delivery { background-position: -92px -5px; }
.product_label--present { background-position: -48px -5px; }

.product_rating{
  position: absolute;
  right: 10px;
  top: 10px;
}

.product_item_img{
  display: block;
  text-align: center;
  vertical-align: middle;
  height: 242px;
  line-height: 242px;
  position: relative;
  overflow: hidden;
}
.product_item_img img{vertical-align: middle;}

.product_item_perfomance {
  margin: 10px 0 20px;
  color:#000;
}

.product_item_action {
  font-size: 0;
  margin: 20px 0;
}

.product_item_col {
  display: inline-block;
  vertical-align: bottom;
}

.product_item_col--left {
  margin-right: 5%;
  width: 55%;
}

.product_item_col--right {
  padding-bottom: 6px;
  width: 40%;
}

.product_item_price{
  font-size: 24px;
  line-height: 29px;
  padding-top: 4px;
}
.product_item_price small{
  font-size: 12px;
  display: block;
  margin: -14px 0 -8px;
}
.product_item.sale .product_item_price{
  color: #43b72c;
}

.old_price{
  font-size: 16px;
}

.product_item.sale .product_item_price .old_price{
  color: #000;
}

.product_item_content-box{
  position: relative;
  color:#000;
}

.product_item_content{
  height: 40px;
  margin: 8px 0 10px;
  overflow: hidden;
}

.product_item_tooltip:before{
  border-bottom: 6px solid rgba(0, 0, 0, .7);
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  content: '';
  display: block;
  position: absolute;
  bottom: 100%;
  left: -webkit-calc(50% - 6px);
  left: -moz-calc(50% - 6px);
  left: calc(50% - 6px);
}

.product_item_tooltip{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, .7);
  color: white;
  display: none;
  font-size: 11px;
  line-height: 13px;
  padding: 10px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
}

.product_item_content.is-truncated:hover + .product_item_tooltip{
  display: block;
}

.hit_label{
  position: absolute;
  display: block;
  left: 10px;
  top: 10px;
  font-size: 10px;
  line-height: 19px;
  text-transform: uppercase;
  color: #fff;
  padding: 1px 10px 0px;
  background: #20a4e6;
  border-radius: 5px;
  box-shadow: 0px 1px 0 #cae9f9;
}

.product_btn {
  border: 2px solid #58b346;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #58b346;
  font: 14px/16px "latobold";
  display: inline-block;
  padding: 9px 5px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.product_btn:hover {
  border-color: #4fa13f;
  color: #4fa13f;
}

.product_btn--green {
  background-color: #58b346;
  color: #fff;
}

.product_btn--green:hover {
  background-color: #4fa13f;
  color: #fff;
}

.product_tooltip_box.tooltip_box {
  border-color: #58b346;
  width: 100%;
}

.product_tooltip_box.tooltip_box:before {
  background-image: url("../images/tooltip_arrow_green.png");
}

.product_tooltip_box.tooltip_box .close_tooltip {
  background-image: url("../images/close_icon_green.png");
}

/*==================== Personal room ===================*/

.personal_room_content{
  margin-top: -18px;
}
.cart_item{
  display: table;
  width: 100%;
  margin-bottom: 50px;
  border-bottom: 1px solid #e5e5e5;
}

#order_form_content .product_item_price .ruble {
  width: 0.6em;
}

[class^="cart_item_cell"]{
  display: table-cell;
  float: none;
  padding-right: 30px;
  padding-bottom: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.cart_item_cell1{
  width: 14.3%;
  text-align: center;
}
.cart_item_cell2{
  width: 28.02%;
}
.cart_item_cell3{
  width: 21.62%;
  padding-left: 15px;
  padding-right: 50px;
}
.cart_item_cell4{
  width: 14.5%;
  padding-left: 45px;
  padding-top: 20px;
}
.cart_item_cell5{
  width: 11.26%;
  padding-top: 20px;
  padding-right: 3px;
  text-align: right;
}

.total_cart_sum{
  padding-left: 75.2%;
  margin-top: -20px;
}



.user_profile_img{
  overflow: hidden;
  border-radius: 128px;
  position: relative;
  margin: -18px 31px 0 20px;
}
.user_profile_img_label{
  color: #fff;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 50px 20px;
  background-color: rgba(0,0,0,0.6);
}

.user_profile_upload_img{
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  z-index: 10;
}

.profile_info_form{
  max-width: 401px;
}
.profile_info_form_col1{
  width: 210px;
}
.profile_info_form_col2{
  width: 160px;
  margin-left: 30px;
}


/*==================== Orders ===================*/

.orders_table{
  width: 100%;
  margin-top: -28px;
}
[class^="orders_table_head"]{
  background-color: #43b72c;
  color: #fff;
  text-align: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 8px 0px 5px;
}
.orders_table_head1{
  width: 16.2%;
  padding-left: 15px;
}
.orders_table_head2{
  width: 32.43%;
}
.orders_table_head3{
  width: 19%;
}
.orders_table_head4{
  width: 16.2%;
}
.orders_table_head5{
  width: 13.5%;
}

.orders_table_cell1{
  padding-left: 15px;
}
.orders_table_cell2{
  padding-right: 60px;
}
.orders_table_cell4 .btn2{
  margin-left: 50px;
}
.orders_table td{
  padding-top: 50px;
  vertical-align: middle;
  padding-bottom: 35px;
  border-bottom: 1px solid #e5e5e5;
}

/*==================== Shopping cart page ===================*/
.create_order{
  counter-reset:fieldset;
}
.create_order_step{
  position: relative;
  padding: 6px 0 80px 60px;
}
.create_order_step:before{
  content:counter(fieldset);
  counter-increment:fieldset;
  position: absolute;
  left: 0;
  top: 0;
  width: 32px;
  height: 32px;
  line-height: 32px;
  border: 2px solid #58b346;
  border-radius: 30px;
  color: #58b346;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  font-size: 18px;
}

.order_form_col{
  width: 210px;
  margin-right: 30px;
}
.order_form_col1{
  width: 302px;
  margin-right: 33px;
}
.order_form_col2{
  width: 450px;
}
.order_form_col3{
  width: 162px !important;
}

.radio_label{
  display: inline-block;
  padding: 1px 0 0 5px;
}
.radio_wrap{
  margin-right: 25px;
}

.cart_total_item{
  margin-bottom: 2px;
}

.cart_total_sum{
  margin: 30px 0 17px;
  padding-top: 20px;
  position: relative;
}
.cart_total_sum:before{
  display: block;
  width: 122px;
  height: 1px;
  position: absolute;
  top: 0;
  left: 0;
  background:#bcbcbc;
  content:"";
}

.abs_label{
  position: absolute;
  left: 0;
  display: block;
  top: 0;
  width: 250px;
}


.location_link{
  font-size: 12px;
  line-height: 16px;
  text-decoration: underline;
  display: inline-block;
  padding: 0 0 0 40px;
  background: url(../images/location_marker.png) 0 0 no-repeat;
}


.delivery_details{
  padding: 36px 250px 0 20px;
}
.scheme_pickup{
  border-right: 1px solid #cccccc;
  padding-right: 25px;
  width: 130px;
}
.scheme_pickup_content{
  padding-left: 30px;
  line-height: 16px;
}

.delivery_details>div{
  display: none;
}


/*==================== Product Page ===================*/

.product_imgs{
  position: relative;
  margin-bottom: 52px;
  overflow: hidden;
}

.big_product_img{
  height: 415px;
  line-height: 415px;
  padding-top: 3px;
  text-align: center;
  position: relative;
  vertical-align: middle;
  margin: 0 0 22px;
}
.big_product_img .hit_label{
  top: auto;
  left: auto;
  bottom: 16px;
  right: 20px;
}
.big_product_img img,
.product_thumb img{
  vertical-align: middle;
  max-width: 100%;
}

.product_thumbs{
  overflow: hidden;
  padding: 0 20px 0 20px;
}

.product_thumbs.owl-carousel .product_thumb{
  margin: 0;
}


.product_thumb{
  display: block;
  float: left;
  margin: 0 8px;
  border: 1px solid #e2e2e2;
  width: 99px;
  height: 99px;
  line-height: 99px;
  text-align: center;
  position: relative;
  vertical-align: middle;
}
.product_thumb:before{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  border: 2px solid #e2e2e2;
  content: ""
}
.product_thumb:hover:before,
.product_thumb.active:before{
  opacity: 1;
}

.product_col1{
  width: 207px;
  margin-right: 10px;
}

.product_col2{
  width: 240px;
}

.product_price_label{
  display: inline-block;
  color: #fff;
  padding: 2px 15px 0;
  background-color: #58b346;
  font-size: 48px;
  border-radius: 5px;
  white-space: nowrap;
  line-height: 58px;
  vertical-align: middle;
}
.product_price{
  font-size: 48px;
  line-height: 1.23em;
}

.product_details{

}

.product_detail_item{
  position: relative;
  overflow: hidden;
  margin-bottom: 16px;
}
.product_detail_item_label{
  width: 247px;
  position: relative;

}
.product_detail_item_label span{
  display: inline-block;
  position: relative;
  z-index: 1;
  padding-right: 5px;
  background: #fff;
}
.product_detail_item_label:before{
  display: block;
  position: absolute;
  bottom: 5px;
  left: 0;
  right: 3px;
  border-bottom: 2px dotted #cfcfcf;
  content: ""
}


.product_info_box{

}

.product_page_tabs_nav{
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 30px;
  margin-top: 50px;
}

.product_page_tabs_nav li:first-child{
  border: none;
  padding-left: 0;
  margin-left: 0;
}
.product_page_tab_item{
  float: left;
  padding-left: 20px;
  margin-left: 20px;
  border-left: 1px solid #aaaaaa;
}
.product_page_tab_item a{
  color: #aaaaaa;
}
.product_page_tab_item.ui-tabs-active a{
  color: #000;
  font-weight: bold;
}

#testimonials{
  max-width: 900px;
}
.testimonial_item{
  margin-bottom: 30px;
}
.testimonial_item_img_box{
  width: 104px;
  margin-right: 30px;
}
.testimonial_item_img{
  border-radius: 250px;
  width: 104px;
  height: 104px;
  line-height: 104px;
  text-align: center;
  background-color: #e9e9e9;
  overflow: hidden;
  font-size: 11px;
  color: #acacac;
}

.tooltip_box{
  position: absolute;
  border: 2px solid #20a4e6;
  border-radius: 4px;
  width: 204px;
  text-align: center;
  z-index: 88;
  top: 100%;
  margin-top: 12px;
  background-color: #f2f2f2;
  opacity: 0;
  visibility: hidden;

}
.tooltip_box:before{
  width: 20px;
  height: 12px;
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin: 0 0 0 -6px;
  background: url(../images/tooltip_arrow.png) 0 0 no-repeat;
  content: ""
}
.tooltip_box_inner{
  padding: 18px 15px;
}

.close_tooltip{
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  cursor: pointer;
  right: 0;
  top: 0;
  margin: 0 -20px 0 0;
  background: url(../images/close_icon.png) 0 0 no-repeat;
}

.tooltip_box.active{
  opacity: 1;
  visibility: visible;
}

.order_success_message{
  /*margin-top: 167px;*/
}
/*==================== ASIDE ===================*/
.blog_box{
  margin-bottom: 95px;
}

.news_list_item,
.aside_post_item{
  margin-bottom: 23px;
}
.news_list_item_data{
  margin-bottom: 9px;
}

.news_list_item_data>*{
  display: inline-block;
  vertical-align: middle;
  font-size: 10px;
  line-height: 14px;
}
.grn_label,
.blue_label{
  color: #fff;
  margin-right: 5px;
  padding: 2px 7px 1px;
  background: #38ac47;
}
.blue_label{
  background: #20a4e6;
}
.news_list_item_content{
  color: #b6b6b6;
  padding: 5px 0 0;
}

.aside_post_item{
  width: 270px;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 30px;
}

#map-canvas{
  width: 100%;
  height: 418px;
}

.ballon_text{
  text-align: center;
  width: 263px;
  background: #fff;
  padding: 25px 0;
  box-shadow: 4px 4px 0 4px rgba(0,0,0,0.10);
}

.sidebar-block {
  background: #f2f2f2;
  -webkit-box-shadow: 0 0 0 10px #f2f2f2;
  -moz-box-shadow: 0 0 0 10px #f2f2f2;
  box-shadow: 0 0 0 10px #f2f2f2;
}

.form_row_btmline {
  border-bottom: 1px solid #62b751;
}

/*=====================> Lists ========================*/
.list1{}
.list1_item{
  background:url(../images/marker1.png) 0 7px no-repeat;
  padding-left:18px;
  margin-bottom: 6px;
}
.list1_link,
.list1_link:hover{
  text-decoration: underline;
}

.list2{}
.list2_item{
  background:url(../images/marker1.png) 0 7px no-repeat;
  padding-left:20px;
}
.list2_link{}

.list3{}
.list3_item{
  background:url(../images/marker1.png) 0 7px no-repeat;
  padding-left:20px;
}
.list3_link{}

/*=====================> Titles ========================*/
h2,h3,h4{
  font-weight:normal;
}/*
.title1{
  font-size: px;
  line-height: px;
  color:#;
}

.title2{
  font-size: px;
  line-height: px;
  color:#;
}

.t_ind{ margin-bottom:px;}
.t_ind1{ margin-bottom:px;}
.t_ind2{ margin-bottom:px;}
*/
/*================================>> BASIC FONTS  <<========================================*/

.black{
  font-family: 'latoblack';
}
.bold{
  font-family: 'latobold';
}
.heavy{
  font-family: 'latoheavy';
}
.light{
  font-family: 'latolight';
}
.semi_bold{
  font-family: 'latosemibold';
}

.rub{
  font-family: "PT Sans", 'als_rublregular';
}

.ruble {
  background: url(../images/ruble-sign-lato-bold-black.svg) center no-repeat;
  display: inline-block;
  height: 1em;
  text-align: left;
  text-indent: -9999px;
  width: 0.8em;
}

.device .rub{
  position: relative;
  font-size: 0;
}
.device .rub:before{
  display: inline-block;
  font-size: 24px;
  line-height: 29px;
  content: "P";
}
.device .rub:after{
  width: 8px;
  height: 2px;
  display: block;
  position: absolute;
  top: 50%;
  margin-top: 4px;
  left: 0;
  background: #000;
  content: ""
}

.black,
.bold,
.heavy,
.light,
.semi_bold{
  font-weight: normal;
}



/*================================>> Contact Form <<========================================*/
#contact-form {
  padding:0px 0 0 0;
  position: relative;
}
#contact-form .success
{
  display: block;
  position: absolute;
  width: 100%;
  top: 0;
  left:0;
  z-index: 99;
  background: #fff;
  border: 1px solid #000;
  text-align: center;
  padding: 20px 0;
}
.txt_field,
.txt_field2{
  margin:0;
  font-size:12px;
  border:1px solid #62b751;
  color:#393939;
  padding: 9px 14px 10px;
  outline:none;
  position:relative;
  font-family: 'latoregular', sans-serif;
  background:#fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  border-radius: 3px !important;
}
.txt_field2{
  border-color: #b1b1b1;
  font-size: 14px;
  text-align: center;
  border-radius: 0 !important;
  padding: 19px 14px 16px;
}
.txt_field.blue_field{
  border-color: #20a4e6;
  background-color: #f2f2f2;
}
::-webkit-input-placeholder {color:#393939;}
::-moz-placeholder  {color:#393939;}/* Firefox 19+ */
:-moz-placeholder   {color:#393939;}/* Firefox 18- */
:-ms-input-placeholder  {color:#393939;}
.txt_area{
  font-size: 14px;
  color: #000;
  margin:0;
  border:1px solid #c8c8c8;-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 126px;
  padding: 12px 18px;
  font-family: 'latoregular', sans-serif;
}
input.datepicker{
  background: url(../images/date_icon.png) 135px 50% no-repeat;
}
.w_60{
  width: 60px;
}
.area_h113{
  height: 113px;
}
#contact-form textarea {
  overflow:auto;
  width:433px;
  height:172px;
  resize:none;
  float:left;
  margin: 0 0 0 0;
}

textarea{
  resize:vertical;
}

#contact-form label {
  display:inline-block;
  position: relative;
  min-height:45px;
  overflow:hidden;
}
#contact-form label.message {
  display:block;
  padding-bottom:0;
}
#contact-form .button {
  margin-left:8px;
}
#contact-form .error, #contact-form .empty, #contact-form .success {display:none;}
#contact-form .error, #contact-form .empty {
  text-align:left;
  color:red;
  font-size:11px;
  position: absolute;
  right: 10px;
  top: 5px;
}
#contact-form .buttons2 {
  overflow:hidden;
  text-align:right;
  position:relative;
  clear:both;
  padding-top:25px;
}
#contact-form .buttons2 a {
  cursor:pointer;
  margin-top:0;
  text-align:center;
}
#contact-form span{
  display:block;
  margin: 0px 0 0 5px;
}

.map_wrapper{
  overflow:hidden;
  display:inline-block;
  margin-bottom:26px;
}


/*================================>> Contacts Info <<========================================*/
#map_canvas {
 width:411px;
 height:237px;
}
.adress{}
.adress span{
  display:inline-block;
}
.adress dt{ margin-bottom:14px;}

/*
<dl class="adress">
  <dt><strong>8901 Marmora Road,<br>Glasgow, D04 89GR.</strong></dt>
  <dd><span>Freephone:</span>+1 800 559 6580</dd>
  <dd><span>Telephone:</span>+1 800 603 6035</dd>
  <dd><span>FAX:</span>+1 800 889 9898</dd>
  <dd>E-mail: <a href="#" class="demo">mail@demolink.org</a></dd>
</dl>
<div class="social">
  <a href="#" title="RSS"><img src="images/soc1.png" alt=""></a>
  <a href="#" title="Twitter"><img src="images/soc2.png" alt=""></a>
  <a href="#" title="Facebook"><img src="images/soc3.png" alt=""></a>
  <a href="#" title="Google +"><img src="images/soc4.png" alt=""></a>
</div>
*/

.breadcrumbs{
  display: block;
  list-style: none;
  margin-bottom: 25px;
  font-size: 12px;
}

.catalog_content .breadcrumbs{
  padding: 20px 0 40px;
  margin-bottom: 0;
}
.breadcrumbs_it{
  position: relative;
  margin-right: 10px;
  padding-right: 15px;
}
.breadcrumbs_it:before{
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  content: "/"
}
.breadcrumbs .breadcrumbs_it:last-child:before{
  display: none;
}
.breadcrumbs_it a{
  text-decoration: underline;
  color: #585858;
}
.breadcrumbs .breadcrumbs_it:first-child a{padding-left: 0;}
.breadcrumbs_it a:hover{
  text-decoration: none;
}
.news_list_item_data.mb30{margin-bottom: 30px;}

.text_page_img{
  padding-top: 25px;
  padding-bottom: 40px;
}
.fotter_bd_top{
  border-top: 1px solid #e5e5e5;
  margin: 0 68px;
}
.vk_box{
  margin-bottom: 45px;
  height: 320px;
  background: #5b7fa6;
}
.descript_art{
  padding-bottom: 40px;
}
/*.descript_art strong {
  color: #737373;
}*/
.article_lig_box_page{
  width: 595px;
  padding-bottom: 22px;
}
.article_lig_box_title{
  font-size: 14px;
  line-height: 19px;
}
.article_lig_box_page a {
  float: left;
  margin-right: 28px;
  margin-bottom: 28px;
}
.article_lig_box_page a:nth-child(even){
  margin-right: 0;
}
.article_video_box{
  width: 100%;
  height: 348px;
}

.contact_container .certificate {
  width: 240px;
}
.contact_container .certificate .gallery {
  display: block;
  margin-top: -5px;
}
.contact_container h3 {
  font: 24px/1.7 RobotoMedium,Arial,sans-serif;
  margin-bottom: 25px;
}
.contact_container .descript_art table { width: 400px; }


/*================================>> Footer <<========================================*/
.footer {
  background-color: #000;
  color: #fff;
  padding: 40px 0 50px;
}
.footer_copyright {
  font: 12px/14px "latoregular";
  margin-bottom: 10px;
}
.footer_phone {
  color: #fff;
  font: 12px/14px "latoregular";
}
.footer_callback {
  margin: 20px 0;
  text-transform: none;
  width: 90%;
}
.footer_title {
  font: 15px/17px "latosemibold";
  margin-bottom: 20px;
  text-transform: uppercase;
}
.footer_title a {
  color: inherit;
}
.footer_title a:hover {
  color: #58b346;
}
.footer_logo{
  padding: 30px 0 0;
}
.footer_contact{
  border-left: 1px solid #e8e8e8;
  padding: 15px 0 15px 20px;
}
.footer_img-box {
  font-size: 0;
  margin-top: 18px;
}
.footer_img {
  vertical-align: middle;
}
.footer_img:not(:first-child) {
  margin-left: 30px;
}
.footer_menu-item {
  margin-bottom: 3px;
}
.footer_menu-link {
  font: 15px/17px "latosemibold";
  color: inherit;
}
.footer_article:not(:first-child) {
  margin-top: 20px;
}
.footer_article-date {
  color: #58b346;
  font: 10px/12px "latobold";
  display: block;
  margin-bottom: 10px;
}
.footer_article-link {
  color: inherit;
  font: 14px/16px "latoregular";
}
.address{
  line-height: 24px;
}

.social{
  overflow:hidden;
  padding: 18px 0 0;
}
.social a{
  display:block;
  float:left;
  width:30px;
  border: 1px solid #606060;
  height:30px;
  overflow:hidden;
  margin-right:8px;
}
.social a:hover{
  background-color: #5cc62e;
  border-color: #5cc62e;
}

.facebook_icon{
  background: url(../images/facebook_icon.png) 50% 7px no-repeat;
}
.facebook_icon:hover{
  background-position: 50% -45px;
}
.twitter_icon{
  background: url(../images/twitter_icon.png) 50% 8px no-repeat;
}
.twitter_icon:hover{
  background-position: 50% -44px;
}
.instagram_icon{
  background: url(../images/instagram_icon.png) 50% 7px no-repeat;
}
.instagram_icon:hover{
  background-position: 50% -45px;
}


.copyright{
  border-top: 1px solid #e8e8e8;
  margin-top: 40px;
  padding-top: 15px;
  font-size: 12px;
}
/**/
.border15{
  background: #fff;
  border-radius: 12px;
  padding: 2px;
  border: 1px solid #f2f2f2;
}
.bac_CCC{
  background: #f2f2f2;
  border-radius: 10px;
  padding: 10px;
}
.bac_CCC input[class^="amount_"]{
  width: 77px;
}
.bac_CCC .w_60{
  width: 51px;
}
.bac_CCC .w_60, x:-moz-any-link, x:default { width: 50px;}/* CSS хаки для Firefox 3 */
.bac_CCC .form_label,.bac_CCC  .form_label1,.bac_CCC  .form_label2,.bac_CCC  .form_label3{
  color: #464656;
}
.bac_CCC .gray_link{
  color: #6C6C80;
  border-color: #6C6C80
}
.bac_CCC .gray_link:hover{
  color: #58b346;
  border-color: #58b346;
}
.name_filter{
  background: #fff;
  padding: 5px 0;
  margin-left: -10px;
  padding-left: 10px;
  margin-right: -10px;
}

.catalog_search_form.bac_CCC .jq-selectbox {
  max-width: 100%;
}

.battery_type {
  border-top: 1px solid #62b751;
  padding-top: 15px;
}
.battery_type .name_filter span {
  text-decoration: underline;
  color: #000;
}

.bac_CCC .jq-selectbox__select{
  width: 100% !important;
}
.bac_CCC .txt_field,
.bac_CCC .txt_field{
  padding: 9px 10px 10px;
}
.bac_CCC .jq-checkbox{
  top: -2px;
  background: #fff;
  border: 1px solid #62b751;
}






/*==================================RESPONSIVE LAYOUTS===============================================*/
@media only screen and (max-width: 1250px) {
  body{min-width:1000px;}

  .big_callback_btn{
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
  }

  .info_box .container .grid_38,
  nav .container .grid_35,
  #content .container .grid_37,
  .map_box .container .grid_38,
  .resp_full_w{
    padding-left: 0 !important;
    width: 98% !important;
  }

  nav .container .grid_36 {
    margin: 0;
    padding-left: 0 !important;
    width: 100% !important;
  }

  .resp_col7{
    width: 20% !important;
  }

  .resp_col29{
    width: 76% !important
  }

  .resp_col8{
    width: 23% !important;
  }

  .resp_col17{
    width: 48% !important;
  }
  .resp_col7,
  .resp_col29,
  .resp_col8,
  footer .grid_29,
  .resp_p0,
  .resp_col17{
    padding-left: 0 !important;
  }

  .resp_col28p{
    width: 28% !important;
  }





  .logo{margin-left: -50px;}

  .info_link{
    margin-left: 7px;
  }

  .logo_text .fs_30{
    line-height: 1.1em;
  }

  .logo_text{
    padding-top: 0;
  }

  .work_time{
    padding-left: 0px;
    font-size: 12px;
  }
  .work_time_item:first-child{
    padding-right: 10px;
    margin-right: 10px;
  }

  .slide_banner{
    width: 419px;
    padding-left: 100px;
  }
  .slide_banner .fs_48{font-size: 35px;}
  .slider_item_inner{padding-left: 20px;}

  .product_item{
    width: 196px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .products{margin: 0 -10px;}

  input.w_60{
    width: 54px;
  }
  input[class^="amount_"]{
    width: 81px;
  }

  .slider_box,
  nav{
    margin-bottom: 50px;
  }

  .info_box .aside_post_item{
    width: 205px;
    padding-right: 20px;
  }

  .pr140{
    padding-right: 0px;
  }

  .article_lig_box_page a{
    width: 40%;
    margin: 0 5% 30px 0;
  }

  .catalog_content{margin-top: 0;}



  .cart_item_cell4{
    padding-left: 0;
    padding-right: 0;
  }

  .breadcrumbs{
    font-size: 11px;
  }

  .product_thumb{
    margin: 0 5px;
  }

  .product_page_similar .product_item{
    width: 220px;
  }
  .bac_CCC input[class^="amount_"]{
    width: 68px;
  }
  .bac_CCC .w_60{
    width: 45px;
  }
  .footer_callback {
    width: 100%;
  }
  }/*End responsive*/

  .bx_pagination_bottom{
    clear: both;
  }
  .bx_pagination_page,
  .bx_pagination_bottom .bx_pagination_page li{
    vertical-align: middle;
  }
  .bx_pagination_page>*{
    display: inline-block;
    vertical-align: middle;
  }
  #map-canvas img { max-width: none; }

  .filter_link.sale:after{
    display: none;
  }

  .soc-button {
    display: inline-block;
    position: relative;
    top: -7px;
  }
  .header-info-text {
    margin-left: 60px;
    color: #fff;
    background-color: #43b72c;
    width: 1100px;
    font-size: 18px;
    line-height: 36px;
    padding-left: 10px;
    font-weight: bold;
    letter-spacing: 1px;
  }

  .brand-list{

  }

  .brand-list .item{
    float: left;
    width: 90px;
    height: 97px;
    margin-bottom: 15px;
  }
  .brand-list .item .img{
    text-align: center;
    height: 60px;
    line-height: 60px;
  }
  .brand-list .item .img img{
    vertical-align: middle;
  }
  .brand-list .item .name{
    text-align: center;
    font-weight: bold;
  }

  .model-filter-head{
    max-width: none !important;
  }
  .models-list{
    overflow: hidden;
  }
  .models-list .column{
    float: left;
    width: 33%;
  }
  .models-list .item{
    font-size: 16px;
    margin-top: 5px;
    padding-bottom: 10px;
    font-weight: bold;
    display: block;
  }
  .brand-text{
    padding-top: 40px;
  }

  .brand-text img{
    float: left;
    margin: 0 15px 15px 0;
  }
  .brand-text h3{
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 1.2em;
  }

  .mods-list th {
    text-align: left;
    padding: 0 20px 10px 0;
  }
  .mods-list a{
    line-height: 1.3;
    color: #6092e8;
    font-size: 17px;
    font-weight: bold;
    text-decoration: underline;
  }
  .mods-list td{
    padding-bottom: 10px;
    padding-right: 20px;
  }

  .descript_art ul li {
   list-style-type: disc;
   margin-left: 25px;
 }

 .TOP_TEXT h1 {
   font-size: 24px;
   margin-bottom: 10px;
 }

 .TOP_TEXT {
   margin-top: 25px;
 }

 .section-description ul li {
   list-style-type: disc;
   margin-left: 25px;
 }

 .section-description p {
   margin-bottom: 10px;
 }

 .TOP_TEXT p {
   margin-bottom: 10px;
 }

 .section-description ul {
  margin-bottom: 10px;
  margin-top: 10px;
}


.container h1 {
  font-size: 27px;
  margin-bottom: 10px;
  color: black;
  line-height: 1;
  font-weight: normal;
}
.testimonial_item.wrapper h3 {
    font-size: 18px;
    line-height: 1.3em;
    font-weight: normal;
    font-family: 'latobold';
    margin-bottom: 12px;
}
/*.article_text_page{color: #737373;}
*/
.contacts_info h1 {
    font-size: 16px;
    line-height: 1.3em;
    font-weight: normal;
    font-family: 'latoblack';
    margin-bottom: 30px;
}
.contacts_info span.black_font{
    display: block;
}
.article_text_page p { margin-bottom: 10px; }

.article_text_page ul {
  margin-bottom: 10px;
  margin-top: 10px;
}
.info-link span{
  display: inline-block;
  margin: -2px 8px 0 0;
}
.section-description h2{
  font-size: 24px;
  padding-bottom: 15px
}
.TOP_TEXT h1{
  padding-bottom: 15px;
}
.TOP_TEXT ul{
  margin-bottom: 10px;
  margin-top: 10px;
}
.TOP_TEXT ul li{
  list-style-type: disc;
  margin-left: 25px;
}


.products.brand-icon > a{
  display:inline-block;
  width:122px;
  height:122px;
  position:relative;
  margin:10px;
}
.products.brand-icon > a img{
  max-width:100%;
  max-height: 100%;
  position:absolute;
  left:0;
  top:0;
  right:0;
  bottom:0;
  margin:auto;
}
.list1_link.active{
  color:#58b346;
}
span.active .sub_menu_title{
  color:#58b346;
}
.news_list_item_content h2{
  font-size: 24px;
  padding: 10px 0 15px 0;
}
.news_list_item_content li{
  list-style: disc;
  margin-left:30px;
}
.blok {
  border: 1px solid #EEEEEE;
  padding: 17px;
  width: 505px;
}
.blok table tr:first-child td span {
  color: #4FA13F;
  font-size: 110%;
  font-weight: bold;
}
.blok .img {
  float: left;
  margin: 22px 10px 0 0;
}
.blok .button {
  background: url("/bitrix/images/blok/Zakazat.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
  display: block;
  height: 32px!important;
  width: 140px!important;
  margin: 5px!important;
  padding: 0!important;
}
.blok .button:hover {
}
.blok .phone {
  font-size: 130%;
  font-weight: bold;
}
.blok .phone span{
  font-size: 14px!important;
  font-weight: normal;
}

.modal-overflow.modal.fade.in {
  top: 17% !important;

}
.modal-dialog.modal-lg{border-radius:20px;}

/*#4684*/
.products {
  margin: 0 -2px 0 0;
}
.product_item{
  border-color: #e2e2e2;
  margin-bottom:0;
  width:189px;
  padding-bottom:58px;
}

.product_item>a{
  display: table;
  width: 100%;
}

.product_item_img{
  height:160px;
  line-height:160px;
  display:table-cell;
}

.product_item_img img {
  max-height:160px;
  max-width: 130px;
}

.product_item:hover {
  box-shadow:0 -0 10px 2px rgba(0,0,0,0.2);
}

.product_label {
  height: 35px;
  width: 35px;
}

.product_item_description>a{
  display:block;
}
.product_item_price small{
  color:#000;
  margin:0;
}
.product_item_content-box{
  color:#000;
}
.product_item_content{
  height: 48px;
  font:bold 15px/1.1 'latoregular', Arial, sans-serif;
  text-align: left;
}
.product_item_perfomance {
  margin: 10px 0 0;
  line-height: 1.25;
  font-size: 12px;
}
.product_item_action{
  margin:0;
  border-bottom: 1px solid #dedede;
  padding-bottom: 17px;
}

.product_item_action.old_price_action{
  padding-bottom:5px;
}

.product_item.sale .product_item_price,
.product_item_col--left {
  margin-right: 0;
  width: 54%;
  letter-spacing: -0.05em;
  line-height:1;
  color: #000;
  font-size: 22px;
  padding-top: 8px;
}

.product_item.sale .product_item_price.old_price_action{
  color:#43b72c;
}

.product_item.sale .product_item_price .rub {
  font-size: 22px;
  position: relative;
  top: -1px;
}

.product_item.sale .product_item_price .old_price  .rub{
  top:-3px;
  font-size:21px;
}

.product_item.sale .product_item_price .old_price{
  color: #000;
  margin-top: 11px;
  font-size: 17px;
}

.product_item_col--right {
  padding-top: 7px;
  width: 46%;
  padding-bottom: 0;
}

.product_item_col {
  display: inline-block;
  vertical-align: top;
}

.product_btn {
  padding: 6px 5px;
  text-transform: none;
}

.product_btn-bottom-wrap{
  position: absolute;
  bottom: 15px;
  width: 187px;
}

.product_btn-bottom-wrap>.product_btn{
  margin-top: 10px;
  background:url(../images/icons/arrow.svg)no-repeat 27px 40%;
  letter-spacing: 0.04em;
  padding-left: 20px;
}


/*#4742*/
.filter_row.mb34{
  margin-bottom:20px;
}
.similar-products .flex-viewport {
  width: 1085px;
}
li.old_price_action{
  //width:217px !important;
}
ul.old_price_action{
  //width:1085px !important;
}


.slides .product_item{
  margin:0 5px;
}

.similar-products .tooltip_box{
  top:-320%;
}
.similar-products .tooltip_box:before{
  display:none;
}

/**/
.product_item__card{}

.product_item__card .comprassion_link {
  display: inline-block;
  padding: 0px 0 0 20px;
  text-decoration: underline;
  background: url(../images/comparison_icon.png) no-repeat;
  color: #58b346;
  background-size: 11%;
  font-size: 12px;
  background-position:0 5px;
  margin-bottom:30px;
}
.product_item__card .comprassion_link:hover{
  text-decoration:none;
}

.product_item__card .product_price_low{
  font-size: 14px;
  margin-top: 34px;
  margin-left: 13px;

}
.product_item__card .product_price_low .product_price{
  display:inline-block;
  float:left;
  margin-right: 40px;
}
.product_item__card .product_price_low .product_price .rub{
  line-height:1.1;
}
.product_item__card .product_price_low__description{

  line-height: 1.5;

  position: relative;
  top: 7px;
}

.product_item__card .quantity_items{
  margin-left: 7px;
}
.product_item__card .quantity_items .form_label{
  margin:0;
}
.product_item__card .quantity_items .styler{
  width: 80px;
}
.product_item__card .quantity_items .jq-selectbox__select {
  height: 41px;
  padding: 11px 40px 6px 10px;

}
.product_item__card .quantity_items .jq-selectbox__trigger-arrow {
  top: 16px;
  right: 8px;
}

.product_item__card  .buy_product{
  width: 167px;
  margin-right: 10px;
}

.product_item__card  .product_details {
  margin-bottom: 26px;
}

.product_item__card  .product_detail_item{
  margin-bottom:7px;
}

ul.main-seo-text{
  list-style: disc;
  margin-left: 35px;
  margin-bottom: 20px;
}

.main-titlte-replace{
 font-weight: bold;
 margin-bottom: 20px;
 font-size: 16px;

}



/*----------new design----------------*/
.contact_map { margin-bottom: 45px; }
.contact_map .ymaps-2-1-47-controls-pane, .contact_map .ymaps-2-1-47-copyrights-pane { display: none; }
.contact_gallery { margin-left: -45px; }
.contact_gallery .gallery {
  float: left;
  display: inline-block;
  width: 43%;
  margin: 45px 0 0 45px;
}
.contact_gallery img {
  width: 100%;
  height: auto;
  display: block;
}
.contact_form .txt_field, .contact_form .txt_field2 { border: 2px solid #1ec247; }
.contact_btn {
  font: 24px/24px RobotoBold,Arial,sans-serif;
  padding: 19px 20px;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  color: #fff;
  background: #4db239;
}
@media only screen and (max-width: 1250px){
  .contact_btn { font: 20px/20px RobotoBold,Arial,sans-serif; }
  .contacts_info .f_left, .contacts_info .f_right  {
    float: none;
  }
  .contact_map { margin-top: 45px; }
}
.fast-link a {
    color: #58b346;
}

.podbor_zagl {
  font-size: 18px;
  padding: 14px 0px 4px 27px;
  font-weight: bolder;
  text-align: left;
  /* position: absolute; */
  color: #000000;
  font: 22px/65px RobotoSlabBold,'Times New Roman', serif;
}
body .popup-window.popup-window-with-titlebar{
	padding: 0;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
}
body .popup-window.popup-window-with-titlebar .popup-window-titlebar{
	background-color: #ededed;
}
body .popup-window.popup-window-with-titlebar .popup-window-titlebar div{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.43;
    font-family: lato, sans-serif;
    color: #000;
    padding-left: 5px;
    padding-top: 12px;
}
body .popup-window.popup-window-with-titlebar .popup-window-content{
	background-color: #fff;
	padding-bottom: 0;
}
body .popup-window.popup-window-with-titlebar .popup-window-content div{
	border-bottom: 1px solid #e1e1e1;
}
body .popup-window.popup-window-with-titlebar .popup-window-content p, body .popup-window.popup-window-with-titlebar .popup-window-buttons span{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.43;
    font-family: lato, sans-serif;
    color: #000;
}
body .popup-window.popup-window-with-titlebar .popup-window-buttons{
    padding: 0 0 10px;
}

.footer-address {
    font-size: 0;
    margin: 20px 0;
}

.footer-address > * {
    display: inline-block;
    font: bold 14px/1 RobotoBold, Roboto, Arial sans-serif;
    vertical-align: middle;
}

.footer-address .address-icon {
    background: url(../images/icon-location.svg) center no-repeat;
    height: 26px;
    margin-right: 10px;
    width: 18px;
}

.footer-address .address-text {
    line-height: normal;
}