nav{
	position:relative;
	margin: 0px 0 73px;
	padding: 12px 0;
	z-index: 100;
}
.menu{
	line-height: 0;
	font-size: 1px; /* for Opera */
	position: relative;
	text-align: justify;
}

.menu_link{
  display:inline-block;
  position:relative;
  font-size: 15px;
  line-height: 20px;
}

.menu_item{
	display: inline-block;
	font-size: 14px;
	line-height: 1.3;
	text-align: left;
}
.menu_item:first-child { margin-left: 0; }

.for-justify {
	display: inline-block;
	height: 0;
	visibility: hidden;
	width: 100%;
}

#magic-line{
	height: 2px;
	position: absolute;
	bottom: -4px;
	background: #62b751;
}

nav.active #magic-line{
	visibility: hidden;
}

.menu_link.hasUl{
	position: relative;
	padding-right: 22px;
}
	.menu_link.hasUl span{
		position: relative;
		z-index: 15;
	}
	.menu_link.hasUl:after{
		display: none;
		position: absolute;
		background: #fff;
		left: -25px;
		right: -14px;
		top: -17px;
		bottom: -15px;
		box-shadow: 0 0 30px rgba(0,0,0,0.10);
		z-index: 10;
		content: ""
	}
	.menu_item.active .menu_link.hasUl:after { display: block; }


.menu-arrow{
	display: block;
	position: absolute;
	width: 9px;
	height: 6px;
	top: 50%;
	margin-top: -3px;
	right: 4px;
	z-index: 15;
	background: url(../images/menu_arrow.png) 0 0 no-repeat;
}

.menu_item.active .menu-arrow  {
	-moz-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}

/*================================>> SUB Level <<========================================*/

.sub_menu{
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	background: #fff;
	box-shadow: 0 0 30px rgba(0,0,0,0.10);
	margin: 15px 0 0;
}

.menu_item.active > .sub_menu{ display: block; }

	.sub_menu:before{
		display: block;
		position: absolute;
		height: 30px;
		left: 0;
		right: 0;
		top: 0;
		z-index: 10;
		background: #fff;
		content: ""
	}
	.sub_menu_inner{
		overflow: hidden;
		padding: 32px 45px;
	}

		.sub_menu_col{
			float: left;
			width: 25%;
			padding-right: 25px;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
		}

			.sub_menu_title{
				margin-bottom: 14px;
			}

			.sub_menu_group{
				margin-bottom: 50px;
			}

			.sub_menu_col .sub_menu_group:last-child{
				margin-bottom: 0;
			}

/*---*/
.aside-block {
	position: relative;
	margin-bottom: 30px;
}


.aside-nav__item:not(:last-child) {
	border-bottom: 1px solid #d1d1d1;
}

.aside-nav__item_has_dropdown {
	background: url("../images/menu_arrow.png") no-repeat 100% 50%;
}

.aside-nav__link {
    display: block;
    font-family: "latoregular";
    font-weight: normal;
    margin: 0 -10px;
    padding: 5px 10px;
    text-decoration: none;
}

.aside-nav__item_has_dropdown .aside-nav__link {
	padding-right: 25px;
}

.aside-nav__item_has_dropdown:hover {
	background-image: url("../images/menu_arrow_right.png");
}

.aside-nav__item_has_dropdown:hover .aside-nav__link {
	color: #58b346;
}

.aside-nav-inner {
	background: #fff;
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .3);
	box-shadow: 0 0 8px rgba(0, 0, 0, .3);
	display: none;
	padding: 10px 20px 10px 40px;
	position: absolute;
	left: -webkit-calc(100% - 2px);
	left: -moz-calc(100% - 2px);
	left: calc(100% - 2px);
	width: 200px;
	z-index: 10;
}

.aside-nav__item_has_dropdown:hover .aside-nav-inner {
	display: block;
}

.aside-nav-inner__item {
	color: #58b346;
	list-style: disc outside;
	padding: 7px 0;
}

.aside-nav-inner__link {
	display: inline-block;
	text-decoration: underline;
}
