@font-face {
  font-family: 'akkum-icons';
  src: url('AkkumIcons/akkum-icons.eot');
  src: url('AkkumIcons/akkum-icons.eot#iefix') format('embedded-opentype'),
       url('AkkumIcons/akkum-icons.woff2') format('woff2'),
       url('AkkumIcons/akkum-icons.woff') format('woff'),
       url('AkkumIcons/akkum-icons.ttf') format('truetype'),
       url('AkkumIcons/akkum-icons.svg#akkum-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'akkum-icons';
    src: url('AkkumIcons/akkum-icons.svg#akkum-icons') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "akkum-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
  
.icon-clock:before { content: '\e800'; } /* '' */
.icon-basket:before { content: '\e801'; } /* '' */
.icon-battery:before { content: '\e802'; } /* '' */
.icon-search:before { content: '\e803'; } /* '' */
.icon-down-open:before { content: '\e804'; } /* '' */
.icon-x:before { content: '\e805'; } /* '' */ 
.icon-lightning:before { content: '\e806'; } /* '' */
.icon-graph:before { content: '\e807'; } /* '' */
.icon-man:before { content: '\e808'; } /* '' */
.icon-down-open-big:before { content: '\e809'; } /* '' */
.icon-up-open-big:before { content: '\e80a'; } /* '' */
.icon-up-3:before { content: '\e80f'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-vkontakte:before { content: '\f189'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */



.info_link i{
	margin:0;
}
.info_box i{
	color:#1ec247; 
}
.info_box  .icon-clock{
		    margin-right: 10px;
    font-size: 19px;
    line-height: 1.8;
	}
.info_box .icon-battery{   
	width:38px;
	font-size: 16px;
    line-height: 2.4; 
    margin-right: 15px;
}
.info_box .icon-basket	{
	margin-right: 8px;
    font-size: 16px;
    /* line-height: 1; */
    line-height: 2.2;
	}
 

.search_form_btn .icon-search{
		font-size: 19px; 
	}
	 
.consultation_callback_form .icon-man{
display: inline-block;
    /* width: 55px; */
    /* margin-right: 35px; */
    /* height: 40px; */
    color: #1ec247;
    font-size: 70px;
    vertical-align: top;
    margin-top: -8px;
    margin-left: -21px;
    margin-right: 10px;
    /* margin-left: -0.3em; */
}
@media all and (max-width: 1250px){ 
.consultation_callback_form .icon-man{
    font-size: 50px;
    margin-top: 0;
    margin-right: 0;
}
}