@font-face {
    font-family: 'HelveticaRegular';
    src: url('HelveticaRegular/Helvetica-Regular.eot');
    src: url('HelveticaRegular/Helvetica-Regular.eot?#iefix') format('embedded-opentype'),
         url('HelveticaRegular/Helvetica-Regular.woff') format('woff'),
         url('HelveticaRegular/Helvetica-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}