@font-face {
    font-family: 'OpenSansItalic';
    src: url('OpenSansItalic/OpenSans-Italic.eot');
    src: url('OpenSansItalic/OpenSans-Italic.eot?#iefix') format('embedded-opentype'),
         url('OpenSansItalic/OpenSans-Italic.woff2') format('woff2'),
         url('OpenSansItalic/OpenSans-Italic.woff') format('woff'),
         url('OpenSansItalic/OpenSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}