@font-face {
        font-family: "RobotoCondensedRegular";
        src: url("RobotoCondensedRegular/RobotoCondensedRegular.eot");
        src: url("RobotoCondensedRegular/RobotoCondensedRegular.eot?#iefix")format("embedded-opentype"),
        url("RobotoCondensedRegular/RobotoCondensedRegular.woff") format("woff"),
        url("RobotoCondensedRegular/RobotoCondensedRegular.ttf") format("truetype");
        font-style: normal;
        font-weight: normal;
}


@font-face {
    font-family: 'RobotoRegular';
    src: url('RobotoRegular/Roboto.eot');
    src: url('RobotoRegular/Roboto.eot?#iefix') format('embedded-opentype'),
         url('RobotoRegular/Roboto.woff2') format('woff2'),
         url('RobotoRegular/Roboto.woff') format('woff'),
         url('RobotoRegular/Roboto.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'RobotoSlabBold';
    src: url('RobotoSlabBold/RobotoSlabBold.eot');
    src: url('RobotoSlabBold/RobotoSlabBold.eot?#iefix') format('embedded-opentype'),
         url('RobotoSlabBold/RobotoSlabBold.woff2') format('woff2'),
         url('RobotoSlabBold/RobotoSlabBold.woff') format('woff'),
         url('RobotoSlabBold/RobotoSlabBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'RobotoSlabRegular';

    src: url('RobotoSlabRegular/robotoslabregular.woff2') format('woff2'),
         url('RobotoSlabRegular/robotoslabregular.woff') format('woff'),
         url('RobotoSlabRegular/robotoslabregular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoMedium';
    src: url('RobotoMedium/robotomedium-webfont.eot');
    src: url('RobotoMedium/robotomedium-webfont.eot?#iefix') format('embedded-opentype'),
         url('RobotoMedium/robotomedium-webfont.woff2') format('woff2'),
         url('RobotoMedium/robotomedium-webfont.woff') format('woff'),
         url('RobotoMedium/robotomedium-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'RobotoBold';
    src: url('RobotoBold/robotobold-webfont.eot');
    src: url('RobotoBold/robotobold-webfont.eot?#iefix') format('embedded-opentype'),
         url('RobotoBold/robotobold-webfont.woff2') format('woff2'),
         url('RobotoBold/robotobold-webfont.woff') format('woff'),
         url('RobotoBold/robotobold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'RobotoLight';
    src: url('RobotoLight/robotolight-webfont.eot');
    src: url('RobotoLight/robotolight-webfont.eot?#iefix') format('embedded-opentype'),
         url('RobotoLight/robotolight-webfont.woff2') format('woff2'),
         url('RobotoLight/robotolight-webfont.woff') format('woff'),
         url('RobotoLight/robotolight-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
