.vk_box{
    background: transparent;
}
.sm_modal_inner .error, .error{
    color:red;
    padding: 10px;
    display:none;
}
.hidden-block{
    display:none;
}
.popup-window-titlebar
{
    line-height: 40px;
    padding-left: 5px;
}
.bx_bt_button{
    text-decoration: underline;
    cursor:pointer;
}
.user_profile_img_label{
    z-index: 1000;
    cursor:pointer;
}
.green{
    color: green;
}
.bx_catalog-compare-list.top{
    top:50px; 
}
/*.aside_post_item:nth-child(3n)
{
    clear:both;
}*/
/*.delivery_details>div{
    display: block;
}*/
.jq-selectbox,.bx_filter .bx_ui_slider_track{
    max-width: 210px;
}

.bx_filter .bx_filter_popup_result.left{
    right: 82%;
}
/**/
.bac_CCC .jq-selectbox,.bac_CCC .bx_filter .bx_ui_slider_track{
    max-width: 184px;
}

@media only screen and (max-width: 1250px){
  body{min-width:1000px;}
    .jq-selectbox,
    .bx_filter .bx_ui_slider_track{max-width: 192px;}
    /**/
    .bac_CCC .jq-selectbox,.bac_CCC .bx_filter .bx_ui_slider_track{
        max-width: 166px;
    }
}
.delivery_details>div{
    display:block;
}

.mb_10{
    margin-bottom: 10px;
}
.success-msg{
    color:green;
}
.bordered{
    border: 1px solid;
    margin: 15px 0;
}
.article_text_page table td{
    border: 1px solid;
    padding: 5px;
}
 .product_col2 .product_price{
    font-size: 48px;
    line-height: 58px;
    white-space: nowrap;
    padding-top: 2px;
  }
div#fancy_outer{
    z-index:1000;
}
.bx_pagination_bottom .bx_pagination_page li.bx_active{
color: #fff;
  background: #58b346;
}
.catalog_filter h2, .catalog_filter .h2{max-width: 55%;}
.modal_btn{cursor: pointer;}
.sale_box{
    width: 500px;
    padding: 30px;
    background: #fff;
}