.gallery > img {
  width: 250px;
}

.section-description{
	margin-top: 25px;
}
.subheader{
	font-size: 18px;
	margin-bottom: 20px;
	margin-top: 20px;
	color: black;
	line-height: 1;
	text-transform: uppercase;
	font-weight: bold;
}
.subheader.logo_gr{
	background: url('/bitrix/templates/akk/logo_20_gr.png') no-repeat left center;
	padding: 5px 0 0px 30px;
}
.subheader.logo_or{
	background: url('/bitrix/templates/akk/logo_20_or.png') no-repeat left center;
	padding: 5px 0 0px 30px;
}
.pl20{padding-left: 20px;}
.pl30{padding-left: 30px;}
.pl30 .list1_item {
    background: url(/bitrix/templates/akk/marker2.png) 0 3px no-repeat;
}
.pl30 .list1_item .li_subheader{
	font-size: 18px;
	font-weight: bold;
	color: #000;
	margin-top: 20px;
	margin-bottom: 20px;
}
.grey_text b{
	color: #000;
}
.questions_answers_item{
	margin: 20px 0;
}
.questions_answers_item .question{
	color: black;
	padding-left: 30px;
	background: url(/bitrix/templates/akk/marker_questtion.png) 0 1px no-repeat;
}
.questions_answers_item .answer_table {
    border: none;
}
.questions_answers_item .answer_table tr{
	border: none;
}
.questions_answers_item .answer_table tr td{
	border: none;
}
.questions_answers_item .answer{
	padding-left: 25px;
}
.questions_answers_item .answer_table .answer_title{
	color: #62b751;
	/*font-family: 'latoblack';*/
	font-weight: bold;
}
.questions_answers_item .answer_table .answer_body_img{
	margin-top: 15px;
}
.questions_answers_item .answer_table .answer_body_table{
	width: 100%;
	margin-top: 20px;
}
.questions_answers_item .answer_table .answer_body_table th{
	text-align: center;
	background: #e0e0e0;
	color: black;
	padding: 5px;
}
.questions_answers_item .answer_table .answer_body_table td{
	text-align: center;
	border-bottom: 1px solid #e0e0e0;
	color: black;
	padding: 5px;
	font-weight: bold;
}
#minimap .modal-body {
    overflow: visible !important;
}
.info__block .green {
    color: #4fa13f;
    font-family: RobotoBold;
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
}
.info__block p {
    margin-bottom: 5px;
}
.info__block p.phone {
    margin-top: 10px;
    margin-bottom: 10px;
    letter-spacing: -0.6px;
}
.info__block-place {
    margin: 10px 0 15px 0;
}
.info__block-place b, .phone span {
    color: black;
    font-family: RobotoBold;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
}
.info__block .blue{
    color: #0454b5;
    font-family: RobotoBold;
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
}
.info__block-left {
    display: inline-block;
    width: 70%;
}
.info__block-right {
    display: inline-block;
    width: 28%;
        margin-top: 10px;
}
.info__block .button {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
    background: #3ab200;
    font: 14px/34px arial;
    text-transform: none;
    display: block;
    height: 35px!important;
    width: 125px!important;
    margin: 5px 5px 0 0!important;
    padding: 0!important;
}
.info__block .button:hover { color: #fff !important; }

.error-page {
    max-width: 1100px;
    margin: 0 auto;
}
.error-page a {
    color: #58b346;
}
.error-page a:hover {
    text-decoration: underline;
}
.error-page p {
    margin-bottom: 10px;
}


/* ---- PAGINATION BOTTOM ---- */
.bx_pagination_bottom{
    color: #8d8d8d;
    font-size:11px;
}

.bx_pagination_bottom .bx_pagination_section_one{ }
.bx_pagination_bottom .bx_pagination_section_two{
    float: right;
    text-align: right;
}
.bx_pagination_bottom .bx_pg_section{
    display: inline-block;
    height: 30px;
    vertical-align: top;
    line-height: 30px;
}

.bx_pagination_bottom .bx_pagination_select_container{display: inline-block;}
.bx_pagination_bottom .bx_pagination_select_container select{
    position: relative;
    margin: 2px 20px 2px 10px;
    padding: 1px 25px 3px 5px;
    height: 22px;
    outline: none;
    border: 1px solid #e0e0e0;
    border-radius: 1px;
    background: #fff url(images/select_arrow.png) no-repeat right center;
    color: #8d8d8d;
    font-size: 11px;
    line-height: 16px;
    resize: none;
    -webkit-appearance: none;
}

.bx_pagination_bottom .bx_pagination_page{
    white-space: nowrap;
    font-size: 12px;
}
.bx_pagination_bottom .bx_pagination_page ul{
    display: inline-block;
    margin: 0;
    padding: 0;
}
.bx_pagination_bottom .bx_pagination_page li{
    display: inline-block;
    min-width: 22px;
    color: #8d8d8d;
    text-align: center;
    line-height: 22px;
}
.bx_pagination_bottom .bx_pagination_page li a{
    display: block;
    min-width: 22px;
    color: #8d8d8d;
    text-align: center;
    text-decoration: none;
    line-height: 22px;
}
.bx_pagination_bottom .bx_pagination_page li a:hover{color: #555;}
.bx_pagination_bottom .bx_pagination_page li.bx_active{
    border-radius: 3px;
    background: #dbecf4;
    box-shadow: inset 0 2px 2px 0 rgba(0,0,0,.1);
}

.bx_pagination_bottom .bx_pg_section.bx_pg_pagination_num{display: block;}
.bx_pagination_bottom .bx_pg_section.bx_pg_show_col select{margin-right: 5px;}


.bx_pagination_bottom .bx_wsnw{white-space: nowrap;}




/*1*/
@media (min-width:981px){

}
/*2*/
@media (min-width:640px) and (max-width:980px){

}
/*3*/
@media (min-width:480px) and (max-width:639px) {
    .bx_pagination_bottom .bx_pagination_select_container select{margin-right: 10px;}
}
/*4*/
@media (max-width:479px) {
    .bx_pagination_bottom .bx_pagination_section_one{ }
    .bx_pagination_bottom .bx_pagination_section_two{
        float: none;
        text-align: left;
    }
    .bx_pagination_bottom .bx_pagination_select_container{
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
        width: 47%;
    }
    .bx_pagination_bottom .bx_pagination_select_container select{
        display: block;
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
        margin-right: 0 !important;
        width: 90%;
    }
    .bx_pagination_bottom .bx_pg_section{
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
        width: 100%;
        text-align: left;
    }
    .bx_pagination_bottom .bx_pagination_page{white-space: normal;}
    .bx_pagination_bottom .bx_pg_section.bx_pg_pagination_num{width: 100%;height: auto;text-align: center;}
    .bx_pagination_bottom .bx_pg_section.bx_pg_show_col{display: none;}
    .bx_pagination_bottom .bx_pg_text{
        display: inline-block;
        width: 50%;
    }
    .bx_pagination_bottom .bx_pg_section.pg_pagination_num .bx_pg_text{display: none;}
}
/*5*/
@media (max-width:320px){
}

    .bx_pagination_bottom .bx_pagination_section_one,
    .bx_pagination_bottom .bx_pagination_section_two,
    .bx_pagination_bottom .bx_pagination_select_container,
    .bx_pagination_bottom .bx_pagination_select_container select,
    .bx_pagination_bottom .bx_pg_section,
    .bx_pagination_bottom .bx_pagination_page,
    .bx_pagination_bottom .bx_pg_section.bx_pg_pagination_num,
    .bx_pagination_bottom .bx_pg_section.bx_pg_show_col,
    .bx_pagination_bottom .bx_pg_text,
    .bx_pagination_bottom .bx_pg_section.pg_pagination_num .bx_pg_text{
        -webkit-transition: all 0.3s ease;
           -moz-transition: all 0.3s ease;
            -ms-transition: all 0.3s ease;
             -o-transition: all 0.3s ease;
                transition: all 0.3s ease;
    }



/* ---- --END-- PAGINATION ---- */

.moto-slider .owl-item a {
    display: -webkit-box;
    display:    -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    color: #282826;
    font-family: RobotoRegular;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-decoration: underline;
    margin-bottom: 15px;
    align-items: center;
    justify-content: center;
}
.moto-slider .owl-item a+a {
    padding: 0 20px;
    text-align: center;
}
.moto-slider .owl-item  {
    margin-top: 30px;
}
.moto-slider .owl-controls {
    position: absolute;
    height: 21px;
    top: 50%;
    left: 0;
    width: 100%;
}
.moto-slider .owl-buttons {
    height: 21px !important;
    width: 100%;
}
.moto-slider .owl-buttons>div {
    width: 11px;
    height: 21px !important;
    cursor: pointer;
    overflow: visible !important;
    position: static;
    margin: 0;
}
.moto-slider .owl-buttons .owl-prev {
    float: left;
    background-position: 0 -22px;
}
.moto-slider .owl-buttons .owl-next {
    float: right;
    background-position: 0 -22px;
}
.moto-slider  .slick_sl img {
    max-height: 100px;
    max-width: 100%;
}
.moto-slider .slick_sl {
    max-height: 175px;
    overflow: visible !important;
}
#testimonials, #similar{
	height: auto;
}

.header__menu_links {
background: url(/bitrix/templates/akk/images/header_top_bg.jpg) repeat-x;
    display: -webkit-box;
    display:    -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    margin-top: 7px;
    border-radius: 6px;
}
.header__menu_links a {
    vertical-align: middle;
    max-width: 82px;
    min-width: 73px;
    padding: 4px 10px;
    background: transparent;
    transition: all .2s;
    font-family: RobotoCondensedRegular;
    color: #404040;
    font-size: 13px;
    line-height: 14px;
    text-transform: uppercase;
    position: relative;
    min-height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header__menu_links a:last-child::after {
    display: none;
}
.header__menu_links a:after {
    content: "";
    width: 1px;
    height: 30px;
    background-color: #e2e2e2;
    position: absolute;
    right: -2px;
    top: 10px;
}
.header__menu_links a:hover {
    color: #58b346;
}
header .search_form {
    margin-left: 25px;
}
.clear{
	clear: both;
}
.name_filter a{
	text-decoration: underline;
}
.hidden{
	display: none;
}
.td_underline{
	text-decoration: underline;	
}